<div id="table_main" class="dataTables_wrapper">
    <table id="datatable" class="table table-light table-striped">
        <thead class="thead-dark">
            <tr id = "headerRow">
                <th></th>
                <th>Symbol</th>
                <th>Owner</th>
                <th>Edit Buttons</th>
                <th>Stock Name</th>
                <th>Date</th>
                <th>Aggregated</th>
                <th>Current Price</th>
                <th>FCFROIC% 5yr</th>
                <th>FCFROTA% 5yr</th>
                <th>iROiE% 1yr</th>
                <th>iROiE% 3yr</th>
                <th>iROiE% 5yr</th>
                <th>iROiE% 10yr</th>
                <th id="iRoie3yr1">iROiE% 3yr 1</th>
                <th id="iRoie3yr2">iROiE% 3yr 2</th>
                <th id="iRoie3yr3">iROiE% 3yr 3</th>
                <th id="iRoie3yr4">iROiE% 3yr 4</th>
                <th id="iRoie3yr5">iROiE% 3yr 5</th>
                <th id="iRoie5yr1">iROiE% 5yr 1</th>
                <th id="iRoie5yr2">iROiE% 5yr 2</th>
                <th id="iRoie5yr3">iROiE% 5yr 3</th>
                
                <th>CF Re-investment Rate 3yr</th>
                <th>CF Re-investment Rate 5yr</th>
                <th>S/O Change (5Y)(%)</th>
                <th>Dividend Payout Ratio% 5yr</th>

                <th>Gross Margin% 5yr</th>
                <th>Operating Margin% 5yr</th>
                <th>FCF Margin% 5yr</th>

                <th>CAPEX/Sales% 5yr</th>
                <th>CapitalLeases/Debt</th>
                <th>Goodwill% TTM</th>

                <th>Flow Ratio TTM</th>
                <th>Flow Ratio 5Yr</th>
                <th>FCF/Net Income% 5yr</th>
                <th>Cash Conversion Cycle 5yr</th>

                <th>FCF Yield</th>
                <th>FCF Multiple TTM</th>
                <th>FV FCF Multiple</th>
                <th>Premium/Discount To FV</th>
                <th>FCF Yield Min</th>
                <th>FCF Yield Max</th>
                <th>FCF Yield 10yr</th>
                
                <th>Sales/Share 3yr G</th>
                <th>Sales/Share 5yr G</th>
                <th>FCF/Share 3yr G</th>
                <th>FCF/Share 5yr G</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
</div>
{{#with config}}
<div style="display:none;">
    <div id="action">{{action}}</div>
    <div id="addLink">{{addLink}}</div>
    <div id="removeLink">{{removeLink}}</div>
    <div id="updateLink">{{updateLink}}</div>
    <div id="shareConf">{{shareConf}}</div>
    <div id="customLink">{{customLink}}</div>
    <div id="initTable">{{initTable}}</div>
</div>
{{/with}}

<script type="text/JavaScript">
    let config = {
        action: $('#action').text(),
        addLink: $('#addLink').text(),
        removeLink: $('#removeLink').text(),
        updateLink: $('#updateLink').text(),
        shareConf: ($('#shareConf').text() == "True"),
        customLink: $('#customLink').text(),
        initTable: $('#initTable').text(),
    }
    const { action, addLink, removeLink, updateLink, shareConf, customLink, initTable } = config
</script>

<script src="/js/collection/collection.js"></script>
<script src="/js/collection/columns.js"></script>

<script src="/js/collection/keyStats.js"></script>
<script src="/js/collection/notes.js"></script>
<script src="/js/collection/links.js"></script>
<script src="/js/collection/dcfCalculations.js"></script>
<script src="/js/collection/aggregations.js"></script>
<script src="/js/collection/common_functions.js"></script>
