<script>

	function detailFormatter(index, row) {
		var html = {};
		{{#each dbdata}}
		html[`{{ this.stock_name }}`] = `<table id="table2" class="table table-sm table-hover">
							<thead class="thead-light" align="center">
								<tr>
									<th>Symbol</th>
									<th>Stock Name</th>
									<th>aEBITDA Spice</th>
									<th>Date</th>
									<th>ROIC %</th>
									<th>WACC %</th>
									<th>ROIC-DIFF</th>
									<th>Yield</th>
									<th>Price</th>
									<th>Shares Outstanding (M)</th>
									<th>Market Cap (M)</th>
									<th>Capex</th>
									<th>Capex/aEBITDA</th>
									<th>aEBITDA/Share</th>
									<th>Net Debt (M)</th>
									<th>Enterprise Value (M)</th>
									<th>ND/aEBITDA</th>
									<th>Revenue (M)</th>
									<th>aEBITDA (M)</th>
									<th>aEBITDA %</th>
									<th>Asset Turnover</th>
									<th>aEBITDA AT</th>
									<th>ROE</th>
									<th>Effective Tax</th>
									<th>EV/aEBITDA</th>
									<th>ROE Spice</th>
									<th>FCF (M)</th>
									<th>FCF Yield</th>
								</tr>
							</thead>
							<tbody id='db_stocks' align="center">
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[1].aebitda_spice}}</td>
									<td>{{this.stockdata.[1].datestring}}</td>
									<td>{{this.stockdata.[1].roic_format}}</td>
									<td>{{this.stockdata.[1].wacc_format}}</td>
									<td>{{this.stockdata.[1].roicwacc_format}}</td>
									<td>{{this.stockdata.[1].yield_format}}</td>
									<td>{{this.stockdata.[1].price_format}}</td>
									<td>{{this.stockdata.[1].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[1].market_cap_format}}</td>
									<td>{{this.stockdata.[1].capex_format}}</td>
									<td>{{this.stockdata.[1].capeXae_format}}</td>
									<td>{{this.stockdata.[1].aeXsho_format}}</td>
									<td>{{this.stockdata.[1].net_debt_format}}</td>
									<td>{{this.stockdata.[1].enterprise_value_format}}</td>
									<td>{{this.stockdata.[1].nd_aebitda}}</td>
									<td>{{this.stockdata.[1].revenue_format}}</td>
									<td>{{this.stockdata.[1].aebitda_format}}</td>
									<td>{{this.stockdata.[1].aebitda_percent}}</td>
									<td>{{this.stockdata.[1].asset_turnover}}</td>
									<td>{{this.stockdata.[1].aebitda_at}}</td>
									<td>{{this.stockdata.[1].roe_format}}</td>
									<td>{{this.stockdata.[1].effective_tax_format}}</td>
									<td>{{this.stockdata.[1].ev_aebitda}}</td>
									<td>{{this.stockdata.[1].roe_spice}}</td>
									<td>{{this.stockdata.[1].fcf_format}}</td>
									<td>{{this.stockdata.[1].fcf_yield}}</td>
								</tr>
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[2].aebitda_spice}}</td>
									<td>{{this.stockdata.[2].datestring}}</td>
									<td>{{this.stockdata.[2].roic_format}}</td>
									<td>{{this.stockdata.[2].wacc_format}}</td>
									<td>{{this.stockdata.[2].roicwacc_format}}</td>
									<td>{{this.stockdata.[2].yield_format}}</td>
									<td>{{this.stockdata.[2].price_format}}</td>
									<td>{{this.stockdata.[2].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[2].market_cap_format}}</td>
									<td>{{this.stockdata.[2].capex_format}}</td>
									<td>{{this.stockdata.[2].capeXae_format}}</td>
									<td>{{this.stockdata.[2].aeXsho_format}}</td>
									<td>{{this.stockdata.[2].net_debt_format}}</td>
									<td>{{this.stockdata.[2].enterprise_value_format}}</td>
									<td>{{this.stockdata.[2].nd_aebitda}}</td>
									<td>{{this.stockdata.[2].revenue_format}}</td>
									<td>{{this.stockdata.[2].aebitda_format}}</td>
									<td>{{this.stockdata.[2].aebitda_percent}}</td>
									<td>{{this.stockdata.[2].asset_turnover}}</td>
									<td>{{this.stockdata.[2].aebitda_at}}</td>
									<td>{{this.stockdata.[2].roe_format}}</td>
									<td>{{this.stockdata.[2].effective_tax_format}}</td>
									<td>{{this.stockdata.[2].ev_aebitda}}</td>
									<td>{{this.stockdata.[2].roe_spice}}</td>
									<td>{{this.stockdata.[2].fcf_format}}</td>
									<td>{{this.stockdata.[2].fcf_yield}}</td>
								</tr>
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[3].aebitda_spice}}</td>
									<td>{{this.stockdata.[3].datestring}}</td>
									<td>{{this.stockdata.[3].roic_format}}</td>
									<td>{{this.stockdata.[3].wacc_format}}</td>
									<td>{{this.stockdata.[3].roicwacc_format}}</td>
									<td>{{this.stockdata.[3].yield_format}}</td>
									<td>{{this.stockdata.[3].price_format}}</td>
									<td>{{this.stockdata.[3].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[3].market_cap_format}}</td>
									<td>{{this.stockdata.[3].capex_format}}</td>
									<td>{{this.stockdata.[3].capeXae_format}}</td>
									<td>{{this.stockdata.[3].aeXsho_format}}</td>
									<td>{{this.stockdata.[3].net_debt_format}}</td>
									<td>{{this.stockdata.[3].enterprise_value_format}}</td>
									<td>{{this.stockdata.[3].nd_aebitda}}</td>
									<td>{{this.stockdata.[3].revenue_format}}</td>
									<td>{{this.stockdata.[3].aebitda_format}}</td>
									<td>{{this.stockdata.[3].aebitda_percent}}</td>
									<td>{{this.stockdata.[3].asset_turnover}}</td>
									<td>{{this.stockdata.[3].aebitda_at}}</td>
									<td>{{this.stockdata.[3].roe_format}}</td>
									<td>{{this.stockdata.[3].effective_tax_format}}</td>
									<td>{{this.stockdata.[3].ev_aebitda}}</td>
									<td>{{this.stockdata.[3].roe_spice}}</td>
									<td>{{this.stockdata.[3].fcf_format}}</td>
									<td>{{this.stockdata.[3].fcf_yield}}</td>
								</tr>
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[4].aebitda_spice}}</td>
									<td>{{this.stockdata.[4].datestring}}</td>
									<td>{{this.stockdata.[4].roic_format}}</td>
									<td>{{this.stockdata.[4].wacc_format}}</td>
									<td>{{this.stockdata.[4].roicwacc_format}}</td>
									<td>{{this.stockdata.[4].yield_format}}</td>
									<td>{{this.stockdata.[4].price_format}}</td>
									<td>{{this.stockdata.[4].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[4].market_cap_format}}</td>
									<td>{{this.stockdata.[4].capex_format}}</td>
									<td>{{this.stockdata.[4].capeXae_format}}</td>
									<td>{{this.stockdata.[4].aeXsho_format}}</td>
									<td>{{this.stockdata.[4].net_debt_format}}</td>
									<td>{{this.stockdata.[4].enterprise_value_format}}</td>
									<td>{{this.stockdata.[4].nd_aebitda}}</td>
									<td>{{this.stockdata.[4].revenue_format}}</td>
									<td>{{this.stockdata.[4].aebitda_format}}</td>
									<td>{{this.stockdata.[4].aebitda_percent}}</td>
									<td>{{this.stockdata.[4].asset_turnover}}</td>
									<td>{{this.stockdata.[4].aebitda_at}}</td>
									<td>{{this.stockdata.[4].roe_format}}</td>
									<td>{{this.stockdata.[4].effective_tax_format}}</td>
									<td>{{this.stockdata.[4].ev_aebitda}}</td>
									<td>{{this.stockdata.[4].roe_spice}}</td>
									<td>{{this.stockdata.[4].fcf_format}}</td>
									<td>{{this.stockdata.[4].fcf_yield}}</td>
								</tr>
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[5].aebitda_spice}}</td>
									<td>{{this.stockdata.[5].datestring}}</td>
									<td>{{this.stockdata.[5].roic_format}}</td>
									<td>{{this.stockdata.[5].wacc_format}}</td>
									<td>{{this.stockdata.[5].roicwacc_format}}</td>
									<td>{{this.stockdata.[5].yield_format}}</td>
									<td>{{this.stockdata.[5].price_format}}</td>
									<td>{{this.stockdata.[5].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[5].market_cap_format}}</td>
									<td>{{this.stockdata.[5].capex_format}}</td>
									<td>{{this.stockdata.[5].capeXae_format}}</td>
									<td>{{this.stockdata.[5].aeXsho_format}}</td>
									<td>{{this.stockdata.[5].net_debt_format}}</td>
									<td>{{this.stockdata.[5].enterprise_value_format}}</td>
									<td>{{this.stockdata.[5].nd_aebitda}}</td>
									<td>{{this.stockdata.[5].revenue_format}}</td>
									<td>{{this.stockdata.[5].aebitda_format}}</td>
									<td>{{this.stockdata.[5].aebitda_percent}}</td>
									<td>{{this.stockdata.[5].asset_turnover}}</td>
									<td>{{this.stockdata.[5].aebitda_at}}</td>
									<td>{{this.stockdata.[5].roe_format}}</td>
									<td>{{this.stockdata.[5].effective_tax_format}}</td>
									<td>{{this.stockdata.[5].ev_aebitda}}</td>
									<td>{{this.stockdata.[5].roe_spice}}</td>
									<td>{{this.stockdata.[5].fcf_format}}</td>
									<td>{{this.stockdata.[5].fcf_yield}}</td>
								</tr>
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[6].aebitda_spice}}</td>
									<td>{{this.stockdata.[6].datestring}}</td>
									<td>{{this.stockdata.[6].roic_format}}</td>
									<td>{{this.stockdata.[6].wacc_format}}</td>
									<td>{{this.stockdata.[6].roicwacc_format}}</td>
									<td>{{this.stockdata.[6].yield_format}}</td>
									<td>{{this.stockdata.[6].price_format}}</td>
									<td>{{this.stockdata.[6].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[6].market_cap_format}}</td>
									<td>{{this.stockdata.[6].capex_format}}</td>
									<td>{{this.stockdata.[6].capeXae_format}}</td>
									<td>{{this.stockdata.[6].aeXsho_format}}</td>
									<td>{{this.stockdata.[6].net_debt_format}}</td>
									<td>{{this.stockdata.[6].enterprise_value_format}}</td>
									<td>{{this.stockdata.[6].nd_aebitda}}</td>
									<td>{{this.stockdata.[6].revenue_format}}</td>
									<td>{{this.stockdata.[6].aebitda_format}}</td>
									<td>{{this.stockdata.[6].aebitda_percent}}</td>
									<td>{{this.stockdata.[6].asset_turnover}}</td>
									<td>{{this.stockdata.[6].aebitda_at}}</td>
									<td>{{this.stockdata.[6].roe_format}}</td>
									<td>{{this.stockdata.[6].effective_tax_format}}</td>
									<td>{{this.stockdata.[6].ev_aebitda}}</td>
									<td>{{this.stockdata.[6].roe_spice}}</td>
									<td>{{this.stockdata.[6].fcf_format}}</td>
									<td>{{this.stockdata.[6].fcf_yield}}</td>
								</tr>
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[7].aebitda_spice}}</td>
									<td>{{this.stockdata.[7].datestring}}</td>
									<td>{{this.stockdata.[7].roic_format}}</td>
									<td>{{this.stockdata.[7].wacc_format}}</td>
									<td>{{this.stockdata.[7].roicwacc_format}}</td>
									<td>{{this.stockdata.[7].yield_format}}</td>
									<td>{{this.stockdata.[7].price_format}}</td>
									<td>{{this.stockdata.[7].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[7].market_cap_format}}</td>
									<td>{{this.stockdata.[7].capex_format}}</td>
									<td>{{this.stockdata.[7].capeXae_format}}</td>
									<td>{{this.stockdata.[7].aeXsho_format}}</td>
									<td>{{this.stockdata.[7].net_debt_format}}</td>
									<td>{{this.stockdata.[7].enterprise_value_format}}</td>
									<td>{{this.stockdata.[7].nd_aebitda}}</td>
									<td>{{this.stockdata.[7].revenue_format}}</td>
									<td>{{this.stockdata.[7].aebitda_format}}</td>
									<td>{{this.stockdata.[7].aebitda_percent}}</td>
									<td>{{this.stockdata.[7].asset_turnover}}</td>
									<td>{{this.stockdata.[7].aebitda_at}}</td>
									<td>{{this.stockdata.[7].roe_format}}</td>
									<td>{{this.stockdata.[7].effective_tax_format}}</td>
									<td>{{this.stockdata.[7].ev_aebitda}}</td>
									<td>{{this.stockdata.[7].roe_spice}}</td>
									<td>{{this.stockdata.[7].fcf_format}}</td>
									<td>{{this.stockdata.[7].fcf_yield}}</td>
								</tr>
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[8].aebitda_spice}}</td>
									<td>{{this.stockdata.[8].datestring}}</td>
									<td>{{this.stockdata.[8].roic_format}}</td>
									<td>{{this.stockdata.[8].wacc_format}}</td>
									<td>{{this.stockdata.[8].roicwacc_format}}</td>
									<td>{{this.stockdata.[8].yield_format}}</td>
									<td>{{this.stockdata.[8].price_format}}</td>
									<td>{{this.stockdata.[8].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[8].market_cap_format}}</td>
									<td>{{this.stockdata.[8].capex_format}}</td>
									<td>{{this.stockdata.[8].capeXae_format}}</td>
									<td>{{this.stockdata.[8].aeXsho_format}}</td>
									<td>{{this.stockdata.[8].net_debt_format}}</td>
									<td>{{this.stockdata.[8].enterprise_value_format}}</td>
									<td>{{this.stockdata.[8].nd_aebitda}}</td>
									<td>{{this.stockdata.[8].revenue_format}}</td>
									<td>{{this.stockdata.[8].aebitda_format}}</td>
									<td>{{this.stockdata.[8].aebitda_percent}}</td>
									<td>{{this.stockdata.[8].asset_turnover}}</td>
									<td>{{this.stockdata.[8].aebitda_at}}</td>
									<td>{{this.stockdata.[8].roe_format}}</td>
									<td>{{this.stockdata.[8].effective_tax_format}}</td>
									<td>{{this.stockdata.[8].ev_aebitda}}</td>
									<td>{{this.stockdata.[8].roe_spice}}</td>
									<td>{{this.stockdata.[8].fcf_format}}</td>
									<td>{{this.stockdata.[8].fcf_yield}}</td>
								</tr>
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[9].aebitda_spice}}</td>
									<td>{{this.stockdata.[9].datestring}}</td>
									<td>{{this.stockdata.[9].roic_format}}</td>
									<td>{{this.stockdata.[9].wacc_format}}</td>
									<td>{{this.stockdata.[9].roicwacc_format}}</td>
									<td>{{this.stockdata.[9].yield_format}}</td>
									<td>{{this.stockdata.[9].price_format}}</td>
									<td>{{this.stockdata.[9].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[9].market_cap_format}}</td>
									<td>{{this.stockdata.[9].capex_format}}</td>
									<td>{{this.stockdata.[9].capeXae_format}}</td>
									<td>{{this.stockdata.[9].aeXsho_format}}</td>
									<td>{{this.stockdata.[9].net_debt_format}}</td>
									<td>{{this.stockdata.[9].enterprise_value_format}}</td>
									<td>{{this.stockdata.[9].nd_aebitda}}</td>
									<td>{{this.stockdata.[9].revenue_format}}</td>
									<td>{{this.stockdata.[9].aebitda_format}}</td>
									<td>{{this.stockdata.[9].aebitda_percent}}</td>
									<td>{{this.stockdata.[9].asset_turnover}}</td>
									<td>{{this.stockdata.[9].aebitda_at}}</td>
									<td>{{this.stockdata.[9].roe_format}}</td>
									<td>{{this.stockdata.[9].effective_tax_format}}</td>
									<td>{{this.stockdata.[9].ev_aebitda}}</td>
									<td>{{this.stockdata.[9].roe_spice}}</td>
									<td>{{this.stockdata.[9].fcf_format}}</td>
									<td>{{this.stockdata.[9].fcf_yield}}</td>
								</tr>
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[10].aebitda_spice}}</td>
									<td>{{this.stockdata.[10].datestring}}</td>
									<td>{{this.stockdata.[10].roic_format}}</td>
									<td>{{this.stockdata.[10].wacc_format}}</td>
									<td>{{this.stockdata.[10].roicwacc_format}}</td>
									<td>{{this.stockdata.[10].yield_format}}</td>
									<td>{{this.stockdata.[10].price_format}}</td>
									<td>{{this.stockdata.[10].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[10].market_cap_format}}</td>
									<td>{{this.stockdata.[10].capex_format}}</td>
									<td>{{this.stockdata.[10].capeXae_format}}</td>
									<td>{{this.stockdata.[10].aeXsho_format}}</td>
									<td>{{this.stockdata.[10].net_debt_format}}</td>
									<td>{{this.stockdata.[10].enterprise_value_format}}</td>
									<td>{{this.stockdata.[10].nd_aebitda}}</td>
									<td>{{this.stockdata.[10].revenue_format}}</td>
									<td>{{this.stockdata.[10].aebitda_format}}</td>
									<td>{{this.stockdata.[10].aebitda_percent}}</td>
									<td>{{this.stockdata.[10].asset_turnover}}</td>
									<td>{{this.stockdata.[10].aebitda_at}}</td>
									<td>{{this.stockdata.[10].roe_format}}</td>
									<td>{{this.stockdata.[10].effective_tax_format}}</td>
									<td>{{this.stockdata.[10].ev_aebitda}}</td>
									<td>{{this.stockdata.[10].roe_spice}}</td>
									<td>{{this.stockdata.[10].fcf_format}}</td>
									<td>{{this.stockdata.[10].fcf_yield}}</td>
								</tr>
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[11].aebitda_spice}}</td>
									<td>{{this.stockdata.[11].datestring}}</td>
									<td>{{this.stockdata.[11].roic_format}}</td>
									<td>{{this.stockdata.[11].wacc_format}}</td>
									<td>{{this.stockdata.[11].roicwacc_format}}</td>
									<td>{{this.stockdata.[11].yield_format}}</td>
									<td>{{this.stockdata.[11].price_format}}</td>
									<td>{{this.stockdata.[11].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[11].market_cap_format}}</td>
									<td>{{this.stockdata.[11].capex_format}}</td>
									<td>{{this.stockdata.[11].capeXae_format}}</td>
									<td>{{this.stockdata.[11].aeXsho_format}}</td>
									<td>{{this.stockdata.[11].net_debt_format}}</td>
									<td>{{this.stockdata.[11].enterprise_value_format}}</td>
									<td>{{this.stockdata.[11].nd_aebitda}}</td>
									<td>{{this.stockdata.[11].revenue_format}}</td>
									<td>{{this.stockdata.[11].aebitda_format}}</td>
									<td>{{this.stockdata.[11].aebitda_percent}}</td>
									<td>{{this.stockdata.[11].asset_turnover}}</td>
									<td>{{this.stockdata.[11].aebitda_at}}</td>
									<td>{{this.stockdata.[11].roe_format}}</td>
									<td>{{this.stockdata.[11].effective_tax_format}}</td>
									<td>{{this.stockdata.[11].ev_aebitda}}</td>
									<td>{{this.stockdata.[11].roe_spice}}</td>
									<td>{{this.stockdata.[11].fcf_format}}</td>
									<td>{{this.stockdata.[11].fcf_yield}}</td>
								</tr>
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[12].aebitda_spice}}</td>
									<td>{{this.stockdata.[12].datestring}}</td>
									<td>{{this.stockdata.[12].roic_format}}</td>
									<td>{{this.stockdata.[12].wacc_format}}</td>
									<td>{{this.stockdata.[12].roicwacc_format}}</td>
									<td>{{this.stockdata.[12].yield_format}}</td>
									<td>{{this.stockdata.[12].price_format}}</td>
									<td>{{this.stockdata.[12].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[12].market_cap_format}}</td>
									<td>{{this.stockdata.[12].capex_format}}</td>
									<td>{{this.stockdata.[12].capeXae_format}}</td>
									<td>{{this.stockdata.[12].aeXsho_format}}</td>
									<td>{{this.stockdata.[12].net_debt_format}}</td>
									<td>{{this.stockdata.[12].enterprise_value_format}}</td>
									<td>{{this.stockdata.[12].nd_aebitda}}</td>
									<td>{{this.stockdata.[12].revenue_format}}</td>
									<td>{{this.stockdata.[12].aebitda_format}}</td>
									<td>{{this.stockdata.[12].aebitda_percent}}</td>
									<td>{{this.stockdata.[12].asset_turnover}}</td>
									<td>{{this.stockdata.[12].aebitda_at}}</td>
									<td>{{this.stockdata.[12].roe_format}}</td>
									<td>{{this.stockdata.[12].effective_tax_format}}</td>
									<td>{{this.stockdata.[12].ev_aebitda}}</td>
									<td>{{this.stockdata.[12].roe_spice}}</td>
									<td>{{this.stockdata.[12].fcf_format}}</td>
									<td>{{this.stockdata.[12].fcf_yield}}</td>
								</tr>
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[13].aebitda_spice}}</td>
									<td>{{this.stockdata.[13].datestring}}</td>
									<td>{{this.stockdata.[13].roic_format}}</td>
									<td>{{this.stockdata.[13].wacc_format}}</td>
									<td>{{this.stockdata.[13].roicwacc_format}}</td>
									<td>{{this.stockdata.[13].yield_format}}</td>
									<td>{{this.stockdata.[13].price_format}}</td>
									<td>{{this.stockdata.[13].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[13].market_cap_format}}</td>
									<td>{{this.stockdata.[13].capex_format}}</td>
									<td>{{this.stockdata.[13].capeXae_format}}</td>
									<td>{{this.stockdata.[13].aeXsho_format}}</td>
									<td>{{this.stockdata.[13].net_debt_format}}</td>
									<td>{{this.stockdata.[13].enterprise_value_format}}</td>
									<td>{{this.stockdata.[13].nd_aebitda}}</td>
									<td>{{this.stockdata.[13].revenue_format}}</td>
									<td>{{this.stockdata.[13].aebitda_format}}</td>
									<td>{{this.stockdata.[13].aebitda_percent}}</td>
									<td>{{this.stockdata.[13].asset_turnover}}</td>
									<td>{{this.stockdata.[13].aebitda_at}}</td>
									<td>{{this.stockdata.[13].roe_format}}</td>
									<td>{{this.stockdata.[13].effective_tax_format}}</td>
									<td>{{this.stockdata.[13].ev_aebitda}}</td>
									<td>{{this.stockdata.[13].roe_spice}}</td>
									<td>{{this.stockdata.[13].fcf_format}}</td>
									<td>{{this.stockdata.[13].fcf_yield}}</td>
								</tr>
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[14].aebitda_spice}}</td>
									<td>{{this.stockdata.[14].datestring}}</td>
									<td>{{this.stockdata.[14].roic_format}}</td>
									<td>{{this.stockdata.[14].wacc_format}}</td>
									<td>{{this.stockdata.[14].roicwacc_format}}</td>
									<td>{{this.stockdata.[14].yield_format}}</td>
									<td>{{this.stockdata.[14].price_format}}</td>
									<td>{{this.stockdata.[14].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[14].market_cap_format}}</td>
									<td>{{this.stockdata.[14].capex_format}}</td>
									<td>{{this.stockdata.[14].capeXae_format}}</td>
									<td>{{this.stockdata.[14].aeXsho_format}}</td>
									<td>{{this.stockdata.[14].net_debt_format}}</td>
									<td>{{this.stockdata.[14].enterprise_value_format}}</td>
									<td>{{this.stockdata.[14].nd_aebitda}}</td>
									<td>{{this.stockdata.[14].revenue_format}}</td>
									<td>{{this.stockdata.[14].aebitda_format}}</td>
									<td>{{this.stockdata.[14].aebitda_percent}}</td>
									<td>{{this.stockdata.[14].asset_turnover}}</td>
									<td>{{this.stockdata.[14].aebitda_at}}</td>
									<td>{{this.stockdata.[14].roe_format}}</td>
									<td>{{this.stockdata.[14].effective_tax_format}}</td>
									<td>{{this.stockdata.[14].ev_aebitda}}</td>
									<td>{{this.stockdata.[14].roe_spice}}</td>
									<td>{{this.stockdata.[14].fcf_format}}</td>
									<td>{{this.stockdata.[14].fcf_yield}}</td>
								</tr>
								<tr id="{{ this.symbol }}">
									<td>{{ this.symbol }}</td>
									<td>{{ this.stock_name }}</td>
									<td>{{this.stockdata.[15].aebitda_spice}}</td>
									<td>{{this.stockdata.[15].datestring}}</td>
									<td>{{this.stockdata.[15].roic_format}}</td>
									<td>{{this.stockdata.[15].wacc_format}}</td>
									<td>{{this.stockdata.[15].roicwacc_format}}</td>
									<td>{{this.stockdata.[15].yield_format}}</td>
									<td>{{this.stockdata.[15].price_format}}</td>
									<td>{{this.stockdata.[15].shares_outstanding_format}}</td>
									<td>{{this.stockdata.[15].market_cap_format}}</td>
									<td>{{this.stockdata.[15].capex_format}}</td>
									<td>{{this.stockdata.[15].capeXae_format}}</td>
									<td>{{this.stockdata.[15].aeXsho_format}}</td>
									<td>{{this.stockdata.[15].net_debt_format}}</td>
									<td>{{this.stockdata.[15].enterprise_value_format}}</td>
									<td>{{this.stockdata.[15].nd_aebitda}}</td>
									<td>{{this.stockdata.[15].revenue_format}}</td>
									<td>{{this.stockdata.[15].aebitda_format}}</td>
									<td>{{this.stockdata.[15].aebitda_percent}}</td>
									<td>{{this.stockdata.[15].asset_turnover}}</td>
									<td>{{this.stockdata.[15].aebitda_at}}</td>
									<td>{{this.stockdata.[15].roe_format}}</td>
									<td>{{this.stockdata.[15].effective_tax_format}}</td>
									<td>{{this.stockdata.[15].ev_aebitda}}</td>
									<td>{{this.stockdata.[15].roe_spice}}</td>
									<td>{{this.stockdata.[15].fcf_format}}</td>
									<td>{{this.stockdata.[15].fcf_yield}}</td>
								</tr>
							</tbody>
						</table>`
		{{/each}}
	return html[row[3]];
  }
</script>