<link rel="stylesheet" type="text/css" href="/styles/collection.css" />
<link rel="icon" type="image/png" href="/imgs/icon.png" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.13.4/dist/bootstrap-table.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.6.2/core.min.js"></script>

<script src="/js/plugins/jquery.floatThead.js"></script>
<script src="/js/plugins/freeze-table.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/autofill/2.3.3/css/autoFill.bootstrap4.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap4.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.5.0/css/colReorder.bootstrap4.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.2.5/css/fixedColumns.bootstrap4.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.4/css/fixedHeader.bootstrap4.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/keytable/2.5.0/css/keyTable.bootstrap4.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap4.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowgroup/1.1.0/css/rowGroup.bootstrap4.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/2.0.0/css/scroller.bootstrap4.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.0/css/select.bootstrap4.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/autofill/2.3.3/js/dataTables.autoFill.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/autofill/2.3.3/js/autoFill.bootstrap4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/colreorder/1.5.0/js/dataTables.colReorder.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.5/js/dataTables.fixedColumns.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.4/js/dataTables.fixedHeader.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/keytable/2.5.0/js/dataTables.keyTable.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/rowgroup/1.1.0/js/dataTables.rowGroup.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.0/js/dataTables.scroller.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.22/sorting/natural.js"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<style>
	body {
		background-color: #F0F0F0;
	}
</style>
<nav class="navbar navbar-expand-lg navbar-dark justify-content-between" style="background-color:#255A85; color:white;">
	<a class="navbar-brand" href="/"><img src="/imgs/hillside_logo.png"
			style="width:20vw;height: auto;margin:10px;" /></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			{{#if admin}}
			<li class="nav-item">
				<a class="nav-link" href="admin" style="">Admin Controls & User Management</a>
				{{else}}
				{{#if a}}
			<li class="nav-item">
				<a class="nav-link active" href="admin" style="">Admin Controls & User
					Management</a>
				{{else}}
				{{/if}}
				{{/if}}
			</li>
			{{#if i}}
			<li class="nav-item active">
				{{else}}
			<li class="nav-item">
				{{/if}}
				<a class="nav-link" href="/">Upload</a>
			</li>
			{{#if in}}
			<li class="nav-item active">
				{{else}}
			<li class="nav-item">
				{{/if}}
				<a class="nav-link" href="indicators">Indicators</a>
			</li>
			{{#if c}}
			<li class="nav-item active">
				{{else}}
			<li class="nav-item">
				{{/if}}
				<a class="nav-link" href="collection">Database</a>
			</li>
			{{#if sd}}
			<li class="nav-item active">
				{{else}}
			<li class="nav-item">
				{{/if}}
				<a class="nav-link" href="special">Special</a>
			</li>
			{{#if sc}}
			<li class="nav-item active">
				{{else}}
			<li class="nav-item">
				{{/if}}
				<a class="nav-link" href="shared">CommonDB</a>
			</li>
			{{#if d}}
			<li class="nav-item active">
				{{else}}
			<li class="nav-item">
				{{/if}}
				<a class="nav-link" href="documentation">Documentation</a>
				<!-- Dropdown -->
				{{#if s}}
			<li class="nav-item dropdown nav-item active">
				{{else}}
			<li class="nav-item dropdown">
				{{/if}}
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					<i id="username" user="{{user}}" class="fas fa-user"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item disabled" href="settings" style="width:auto;">My
						Account</a>
					<form id="lo_form" action="/logout" method="post">
						<a id="lo" class="dropdown-item" style="width:auto;" href="#">Log
							Out</a>
					</form>
				</div>
			</li>
		</ul>
	</div>
</nav>
<script>
	$("#lo").click(function () {
		$("#lo_form").submit();
	});
</script>