<table id="table" data-toggle="table"
						data-toolbar="#toolbar" data-height="800" data-detail-view="true" data-search="true" data-detail-formatter="detailFormatter" data-uniqueid="stockdata"
						data-show-columns="true" data-row-attrubutes="rowattr" data-pagination="true" data-page-size="All" data-page-list="[10,20,50,100,All]" data-show-export="true" data-export-options='{"fileName" : "DB_Stocks", "preventInjection": false }'
						class="table table1 table-sm table-hover">
						<thead class='thead-dark' align="center">
							<tr>
								<th data-field="checkbox" data-checkbox="true"></th>
								<th data-field="hide" class="smallheader">hidden</th>
								<th data-field="symbol" class="StickyCol" data-sortable="true">Symbol</th>
								<th data-sortable="true">Stock Name</th>
								<th data-field="aebitda_spice" data-sortable="true">aEBITDA Spice</th>
                                <th data-field="comment" data-sortable="true">My Comment</th>
								<th data-field="emoticon">Emoticon</th>
								<th data-field="gfrating" data-sortable="true">Guru Rating</th>
								<th data-field="stocksector" data-sortable="true">Sector</th>
								<th data-field="stock_current_price" data-sorter="currencysorter" data-sortable="true">Current Price</th>
								<th data-field="fairvalue" data-sorter="currencysorter" data-sortable="true">MS FV Est</th>
								<th data-field="fivestar" data-sorter="currencysorter" data-sortable="true">MS 5* price</th>
								<th data-field="onestar" data-sorter="currencysorter" data-sortable="true">MS 1* price</th>
								<th data-field="moat" data-sortable="true">MS Moat Rating</th>
								<th data-field="jdv" data-sorter="currencysorter" data-sortable="true">JDV Rating</th>
								<th data-field="roic_format" data-sorter="currencysorter" data-sortable="true">ROIC %</th>
								<th data-field="wacc_format" data-sorter="currencysorter" data-sortable="true">WACC %</th>
								<th data-field="roicwacc_format" data-sorter="currencysorter" data-sortable="true">ROIC - WACC %</th>
								<th data-field="eps_without_nri_format" data-sorter="currencysorter" data-sortable="true">EPS</th>
								<th data-field="growth_years_format" data-sorter="currencysorter" data-sortable="true">Growth Years</th>
								<th data-field="eps_basic_format" data-sorter="currencysorter" data-sortable="true">Growth %</th>
								<th data-field="terminal_years_format" data-sorter="currencysorter" data-sortable="true">Terminal Years</th>
								<th data-field="terminal_growth_rate_format" data-sorter="currencysorter" data-sortable="true">Terminal Growth %</th>
								<th data-field="discount_rate_format" data-sorter="currencysorter" data-sortable="true">Discount %</th>
								<th data-field='dcf_growth' data-sorter="curencysorter" data-sortable="true">Growth Value</th>
								<th data-field='dcf_terminal' data-sorter="curencysorter" data-sortable="true">Terminal Value</th>
								<th data-field='dcf_fair' data-sorter="curencysorter" data-sortable="true">DCF Fair Value</th>
								<th data-field="yield_format" data-sorter="currencysorter" data-sortable="true">Yield</th>
								<th data-field="price_format" data-sorter="currencysorter" data-sortable="true">Price</th>
								<th data-field="shares_outstanding_format" data-sorter="currencysorter" data-sortable="true">Shares Outstanding (M)</th>
								<th data-field="market_cap_format" data-sorter="currencysorter" data-sortable="true">Market Cap (M)</th>
								<th data-field="capex_format" data-sorter="currencysorter" data-sortable="true">Capex (M)</th>
								<th data-field="capeXfcf_format" data-sorter="currencysorter" data-sortable="true">Capex/FCF</th>
								<th data-field="capXfcf5" data-sorter="currencysorter" data-sortable="true">Capex/FCF 5Y</th>
								<th data-field="capXfcf10" data-sorter="currencysorter" data-sortable="true">Capex/FCF 10Y</th>
								<th data-field="capeXae_format" data-sorter="currencysorter" data-sortable="true">Capex/aEBITDA</th>
								<th data-field="capXae5" data-sorter="currencysorter" data-sortable="true">Capex/aEBITDA 5Y</th>
								<th data-field="capXae10" data-sorter="currencysorter" data-sortable="true">Capex/aEBITDA 10Y</th>
								<th data-field="aeXsho_format" data-sorter="currencysorter" data-sortable="true">aEBITDA/Share</th>
								<th data-field="fcfXae_format" data-sorter="currencysorter" data-sortable="true">FCF/aEBITDA</th>
								<th data-field="net_debt_format" data-sorter="currencysorter" data-sortable="true">Net Debt (M)</th>
								<th data-field="enterprise_value_format" data-sorter="currencysorter" data-sortable="true">Enterprise Value (M)</th>
								<th data-field="nd_aebitda" data-sorter="currencysorter" data-sortable="true">ND/aEBITDA</th>
								<th data-field="revenue_format" data-sorter="currencysorter" data-sortable="true">Revenue (M)</th>
								<th data-field="aebitda_format" data-sorter="currencysorter" data-sortable="true">aEBITDA (M)</th>
								<th data-field="aebitda_percent" data-sorter="currencysorter" data-sortable="true">aEBITDA %</th>
								<th data-field="asset_turnover" data-sorter="currencysorter" data-sortable="true">Asset Turnover</th>
								<th data-field="aebitda_at" data-sorter="currencysorter" data-sortable="true">aEBITDA AT (%)</th>
								<th data-field="roe_format" data-sorter="currencysorter" data-sortable="true">ROE</th>
								<th data-field="effective_tax_format" data-sorter="currencysorter" data-sortable="true">Effective Tax</th>
								<th data-field="ev_aebitda" data-sorter="currencysorter" data-sortable="true">EV/aEBITDA</th>
								<th data-field="roe_spice" data-sorter="currencysorter" data-sortable="true">ROE Spice</th>
								<th data-field="fcf_format" data-sorter="currencysorter" data-sortable="true">FCF (M)</th>
								<th data-field="fcf_yield" data-sorter="currencysorter" data-sortable="true">FCF Yield</th>
								<th data-field="fcf_growth_1" data-sorter="currencysorter" data-sortable="true">FCF Growth (1y)</th>
								<th data-field="fcf_growth_3" data-sorter="currencysorter" data-sortable="true">FCF Growth (3y)</th>
								<th data-field="fcf_growth_5" data-sorter="currencysorter" data-sortable="true">FCF Growth (5y)</th>
								<th data-field="fcf_growth_10" data-sorter="currencysorter" data-sortable="true">FCF Growth (10y)</th>
								<th data-field="price_growth_1" data-sorter="currencysorter" data-sortable="true">Price Growth (1y)</th>
								<th data-field="price_growth_3" data-sorter="currencysorter" data-sortable="true">Price Growth (3y)</th>
								<th data-field="price_growth_5" data-sorter="currencysorter" data-sortable="true">Price Growth (5y)</th>
								<th data-field="price_growth_10" data-sorter="currencysorter" data-sortable="true">Price Growth (10y)</th>
								<th data-field="so_change_1" data-sorter="currencysorter" data-sortable="true">S/O Change (1y)(M)</th>
								<th data-field="so_change_3" data-sorter="currencysorter" data-sortable="true">S/O Change (3y)(M)</th>
								<th data-field="so_change_5" data-sorter="currencysorter" data-sortable="true">S/O Change (5y)(M)</th>
								<th data-field="so_change_10" data-sorter="currencysorter" data-sortable="true">S/O Change (10y)(M)</th>
								<th data-field="revenue_growth_1" data-sorter="currencysorter" data-sortable="true">Revenue Growth (1y)</th>
								<th data-field="revenue_growth_3" data-sorter="currencysorter" data-sortable="true">Revenue Growth (3y)</th>
								<th data-field="revenue_growth_5" data-sorter="currencysorter" data-sortable="true">Revenue Growth (5y)</th>
								<th data-field="revenue_growth_10" data-sorter="currencysorter" data-sortable="true">Revenue Growth (10y)</th>
								<th data-field="aebitda_growth_1" data-sorter="currencysorter" data-sortable="true">aEBITDA Growth (1y)</th>
								<th data-field="aebitda_growth_3" data-sorter="currencysorter" data-sortable="true">aEBITDA Growth (3y)</th>
								<th data-field="aebitda_growth_5" data-sorter="currencysorter" data-sortable="true">aEBITDA Growth (5y)</th>
								<th data-field="aebitda_growth_10" data-sorter="currencysorter" data-sortable="true">aEBITDA Growth (10y)</th>
								<th data-field="datestring" data-sortable="true">Date</th>
							</tr>
						</thead>
						<tbody id='db_stocks' align="center">
							{{#each dbdata}}
							<tr id="{{ this.stock_id }}" data-uniqueid="{{this.stock_id}}" data-val={{this.symbol}} {{#unless this.enabled}} class="disabledStock" {{/unless}}>
								<td></td>
								<td><button type="button" onclick='toggleStock({{this.stock_id}})' class="btn btn-link btn-sm"><span class="far fa-eye"></span></button></td>
								<td> <a href='https://www.gurufocus.com/chart/{{this.symbol}}' target="_blank">{{ this.symbol }}</a></td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[0].aebitda_spice}}</td>
                                <td><div id="note{{this.stock_id}}">{{this.note}}</div><button type="button" onclick='editNote({{this.stock_id}})' class="btn btn-link btn-sm"><span class="far fa-edit"></span></button></td>
								<td><div style="font-size: 30px" id="emoticon{{this.stock_id}}">{{this.emoticon}}</div><button type="button" onclick='editEmoticon({{this.stock_id}})' class="btn btn-link btn-sm"><span class="far fa-edit"></span></button></td>
								<td>{{this.gfrating}}</td>
								<td>{{this.stocksector}}</td>
								<td><div id="current_price{{this.stock_id}}">{{this.stock_current_price}}</div><button type="button" onclick='editPrice({{this.stock_id}}, "curprice")' class="btn btn-link btn-sm"><span class="far fa-edit"></span></button></td>
								<td><div id="fairvalue{{this.stock_id}}">{{this.fairvalue}}</div><button type="button" onclick='editPrice({{this.stock_id}}, "msfv")' class="btn btn-link btn-sm"><span class="far fa-edit"></span></button></td>
								<td><div id="fivestar{{this.stock_id}}">{{this.fivestar}}</div><button type="button" onclick='editPrice({{this.stock_id}}, "msfive")' class="btn btn-link btn-sm"><span class="far fa-edit"></span></button></td>
								<td><div id="onestar{{this.stock_id}}">{{this.onestar}}</div><button type="button" onclick='editPrice({{this.stock_id}}, "msone")' class="btn btn-link btn-sm"><span class="far fa-edit"></span></button></td>
								<td><div id="moat{{this.stock_id}}">{{this.moat}}</div><button type="button" onclick='editMoat({{this.stock_id}})' class="btn btn-link btn-sm"><span class="far fa-edit"></span></button></td>
								<td><div id="jdv{{this.stock_id}}">{{this.jdv}}</div><button type="button" onclick='editPrice({{this.stock_id}}, "jdv")' class="btn btn-link btn-sm"><span class="far fa-edit"></span></button></td>
								<td>{{this.stockdata.[0].roic_format}}</td>
								<td>{{this.stockdata.[0].wacc_format}}</td>
								<td>{{this.stockdata.[0].roicwacc_format}}</td>
								
								<td> <div id="dcf_eps_basic{{this.stock_id}}">{{this.stockdata.[0].eps_basic_format}}</div> </td>
								<td> <div id="dcf_gy{{this.stock_id}}">{{this.stockdata.[0].growth_years_format}}</div> </td>
								<td> <div id="dcf_eps_no_nri{{this.stock_id}}">{{this.stockdata.[0].eps_without_nri_format}}</div> </td>
								<td> <div id="dcf_ty{{this.stock_id}}">{{this.stockdata.[0].terminal_years_format}}</div> </td>
								<td> <div id="dcf_tgr{{this.stock_id}}">{{this.stockdata.[0].terminal_growth_rate_format}}</div> </td>
								<td> <div id="dcf_dr{{this.stock_id}}">{{this.stockdata.[0].discount_rate_format}}</div> </td>
								<td> <div id="dcf_growth_val{{this.stock_id}}">{{this.stockdata.[0].dcf_growth}}</div> </td>
								<td> <div id="dcf_terminal_val{{this.stock_id}}">{{this.stockdata.[0].dcf_terminal}}</div> </td>
								<td><div id="dcf_fair{{this.stock_id}}">{{this.stockdata.[0].dcf_fair}}</div><button type="button" onclick='edit_dcf({{this.stock_id}})' class="btn btn-link btn-sm"><span class="far fa-edit"></span></button></td>

								<td>{{this.stockdata.[0].yield_format}}</td>
								<td>{{this.stockdata.[0].price_format}}</td>
								<td>{{this.stockdata.[0].shares_outstanding_format}}</td>
								<td>{{this.stockdata.[0].market_cap_format}}</td>
								<td>{{this.stockdata.[0].capex_format}}</td>
								<td>{{this.stockdata.[0].capeXfcf_format}}</td>
								<td>{{Averages this.stockdata 'capeXfcf_format' 5}}</td>
								<td>{{Averages this.stockdata 'capeXfcf_format' 10}}</td>
								<td>{{this.stockdata.[0].capeXae_format}}</td>
								<td>{{Averages this.stockdata 'capeXae_format' 5}}</td>
								<td>{{Averages this.stockdata 'capeXae_format' 10}}</td>
								<td>{{this.stockdata.[0].aeXsho_format}}</td>
								<td>{{this.stockdata.[0].fcfXae_format}}</td>
								<td>{{this.stockdata.[0].net_debt_format}}</td>
								<td>{{this.stockdata.[0].enterprise_value_format}}</td>
								<td>{{this.stockdata.[0].nd_aebitda}}</td>
								<td>{{this.stockdata.[0].revenue_format}}</td>
								<td>{{this.stockdata.[0].aebitda_format}}</td>
								<td>{{this.stockdata.[0].aebitda_percent}}</td>
								<td>{{this.stockdata.[0].asset_turnover}}</td>
								<td>{{this.stockdata.[0].aebitda_at}}</td>
								<td>{{this.stockdata.[0].roe_format}}</td>
								<td>{{this.stockdata.[0].effective_tax_format}}</td>
								<td>{{this.stockdata.[0].ev_aebitda}}</td>
								<td>{{this.stockdata.[0].roe_spice}}</td>
								<td>{{this.stockdata.[0].fcf_format}}</td>
								<td>{{this.stockdata.[0].fcf_yield}}</td>
								<td>{{this.fcf_growth_1}}</td>
								<td>{{this.fcf_growth_3}}</td>
								<td>{{this.fcf_growth_5}}</td>
								<td>{{this.fcf_growth_10}}</td>
								<td>{{this.price_growth_1}}</td>
								<td>{{this.price_growth_3}}</td>
								<td>{{this.price_growth_5}}</td>
								<td>{{this.price_growth_10}}</td>
								<td>{{this.so_change_1}}</td>
								<td>{{this.so_change_3}}</td>
								<td>{{this.so_change_5}}</td>
								<td>{{this.so_change_10}}</td>
								<td>{{this.revenue_growth_1}}</td>
								<td>{{this.revenue_growth_3}}</td>
								<td>{{this.revenue_growth_5}}</td>
								<td>{{this.revenue_growth_10}}</td>
								<td>{{this.aebitda_growth_1}}</td>
								<td>{{this.aebitda_growth_3}}</td>
								<td>{{this.aebitda_growth_5}}</td>
								<td>{{this.aebitda_growth_10}}</td>
								<td>{{this.stockdata.[0].datestring}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
	