<!DOCTYPE html>
<html>

    <head>
        <title>User Control Panel</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="/imgs/icon.png" />
        <style>.initiallyHidden { display: none; }</style>
    </head>

    <body>
        {{>header}}
        <div class="container-fluid d-flex justify-content-center">
            <div class="d-flex align-items-center" style="height:90vh;">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Admin Control & User Management</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            {{#each codes}}
                            <div class="py-2">
                                <h4 id="{{this.code_id}}type">Account Type:
                                    {{this.type}}</h4>
                                <p><b>Registration Code:</b> <i id="{{this.code_id}}hidecode" style="color:#255A85;" class="far fa-eye"></i></p>
                                <p id="{{this.code_id}}code" class="initiallyHidden"> {{this.code}}</p>
                                <span class="help-block form-text text-muted">*Click the Eye Icon to Reveal Code.</span>
                                <input id="{{this.code_id}}text" class="form-control" type="text"
                                    maxlength="30"
                                    placeholder="Enter a new code" />
                                <div class="py-2">
                                <button style="background-color:#255A85; color:white;" class="btn"
                                    onclick="changeCode({{this.code_id}},
                                    document.getElementById('{{this.code_id}}text').value)">Change
                                    Code</button>

                                <button style="background-color:#F0F0F0;" class="btn"
                                    onclick="changeCode({{this.code_id}},
                                    randomString(10))">Randomize Code</button>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p>Note: People
                            who register with
                            admin codes will have access to Admin Control & User Management page.</p>
                    </div>
                </div>
            </div>
        </body>
        <script>
$(document).ready(function(){
  $("#1hidecode").click(function(){
    $("#1code").toggle();
    $(this).toggleClass('far fa-eye far fa-eye-slash')
  });
});
$(document).ready(function(){
  $("#2hidecode").click(function(){
    $("#2code").toggle();
    $(this).toggleClass('far fa-eye far fa-eye-slash')
  });
});
    const randomString = (length) => {
        var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
        var result = '';
        for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
        return result;
    }
    const changeCode = (code_id, newCode) => {
        const data = {
            code_id: code_id,
            newCode: newCode
        }
        console.log(data)
        fetch(`/newCode`, {
            method: 'post',
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        })
            .then((r) => r.json())
            .then(r => {
                document.getElementById(`${r.code_id}code`).innerHTML = r.newCode
            })
    }
</script>
    </html>
