<!DOCTYPE html>
<html>
	<head>
		<title>Collection</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/styles/collection.css" />
		<link rel="icon" type="image/png" href="/imgs/icon.png" />
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet"
			href="https://unpkg.com/bootstrap-table@1.13.4/dist/bootstrap-table.min.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
			integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
			integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.6.2/core.min.js"></script>
		<script
			src="https://unpkg.com/bootstrap-table@1.13.4/dist/bootstrap-table.min.js"></script>
		<script
			src="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
		<script
			src="https://unpkg.com/tableexport.jquery.plugin@1.10.1/tableExport.min.js"></script>
		<script
			src="https://unpkg.com/bootstrap-table@1.13.5/dist/extensions/export/bootstrap-table-export.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
		<style>.fixed-table-container{ background-color:white} th:nth-child(3),td:nth-child(3){position:sticky;left:0px;} td:nth-child(3){background-color: #F0F0F0; z-index: 999;}
		</style>
	</head>
	<body>
		{{>header}}
		<div class="container-fluid">
			<div class="d-flex justify-content-center">
				<div class="table-responsive p-3">
					<table id="table" data-toggle="table" data-search="true"
						data-toolbar="#toolbar" data-height="600" data-detail-view="true" data-detail-formatter="detailFormatter"
						data-show-columns="true" data-show-export="true" data-export-options='{"fileName" : "DB_Stocks" }'
						class="table table1 table-hover">
						<thead class='thead-dark'>
							<tr>
								<th data-checkbox="true"></th>
								<th data-sortable="true">Symbol</th>
								<th data-sortable="true">Stock Name</th>
								<th data-sortable="true">Yield</th>
								<th data-sortable="true">Price</th>
								<th data-sortable="true">Shares Outstanding</th>
								<th data-sortable="true">Market Cap</th>
								<th data-sortable="true">Net Debt</th>
								<th data-sortable="true">Enterprise Value</th>
								<th data-sortable="true">ND/aEBITDA</th>
								<th data-sortable="true">Revenue</th>
								<th data-sortable="true">aEBITDA</th>
								<th data-sortable="true">aEBITDA %</th>
								<th data-sortable="true">Asset Turnover</th>
								<th data-sortable="true">aEBITDA AT</th>
								<th data-sortable="true">ROE</th>
								<th data-sortable="true">Effective Tax</th>
								<th data-sortable="true">EV/aEBITDA</th>
								<th data-sortable="true">Spice</th>
								<th data-sortable="true">ROE Mult</th>
							</tr>
						</thead>
						<tbody id='db_stocks'>
							{{#each dbdata}}
							<tr id="{{ this.symbol }}" data-val={{this.symbol}}>
								<td></td>
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								{{#if this.stockdata.[0].yield}}
								<td>{{this.stockdata.[0].yield}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].price}}
								<td>{{this.stockdata.[0].price}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].shares_outstanding}}
								<td>{{this.stockdata.[0].shares_outstanding}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].market_cap}}
								<td>{{this.stockdata.[0].market_cap}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].net_debt}}
								<td>{{this.stockdata.[0].net_debt}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].enterprise_value}}
								<td>{{this.stockdata.[0].enterprise_value}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].nd_aebitda}}
								<td>{{this.stockdata.[0].nd_aebitda}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].revenue}}
								<td>{{this.stockdata.[0].revenue}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].aebitda}}
								<td>{{this.stockdata.[0].aebitda}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].aebitda_percent}}
								<td>{{this.stockdata.[0].aebitda_percent}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].asset_turnover}}
								<td>{{this.stockdata.[0].asset_turnover}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].aebitda_at}}
								<td>{{this.stockdata.[0].aebitda_at}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].roe}}
								<td>{{this.stockdata.[0].roe}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].effective_tax}}
								<td>{{this.stockdata.[0].effective_tax}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].ev_aebitda}}
								<td>{{this.stockdata.[0].ev_aebitda}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].spice}}
								<td>{{this.stockdata.[0].spice}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
								{{#if this.stockdata.[0].roe_mult}}
								<td>{{this.stockdata.[0].roe_mult}}</td>
								{{else}}
								<td>Null</td>
								{{/if}}
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="toolbar" class="d-flex flex-row justify-content-center
			align-items-center px-3">
            <form class="px-2">
				<button type="button" onclick="add();" class="btn btn-success btn-sm">
					<span class="fas fa-plus"></span> Add
				</button>
            </form>
            <form class="px-2">
				<button type="button" onclick="remove();" class="btn btn-danger btn-sm">
					<span class="fas fa-trash-alt"></span> Delete
				</button>
            </form>
			<form class="px-2">
				<button type="button" onclick='update();' class="btn btn-dark btn-sm">
					<span class="fas fa-sync-alt"></span> Refresh
				</button>
			</form>

		</div>

        <script>
            var rm_list = [];
            function add(){
                Swal.fire({
                    title: 'Enter the stock symbol',
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'off'
                    },
                    showCancelButton: true,
                    confirmButtonText: 'Add',
                    showLoaderOnConfirm: true,
                    preConfirm: (symbol) => {
                        ajax_func([{'symbol': symbol.toUpperCase(), 'comment': '', 'company': '', 'exchange': ''}], "Append")
                    }
                })
            }

            function remove() {
				$("#table #db_stocks input:checked").each(function() {
					var sym = $(this).parents('tr:first').data('val')
					rm_list.push({"symbol" : sym.toString()});
					$(`#${sym.toString()}`).remove();
				});
                ajax_func(rm_list, 'Remove');
				rm_list = [];
			};

			function update() {
				ajax_func([],'Update')
			}

            function ajax_func(list, action){
                var data = {};
                data.stocks = list;
                data.action = action;
                console.log(data)
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: "http://localhost:8080/collection",
                }).done(function(returned_data){
                    location.reload()
                })
                }
        </script>

	</body>

<script>
	function detailFormatter(index, row) {
    var html = []
	{{#each dbdata}}
	html.push(`
	{{!-- <a href='https://www.gurufocus.com/chart/{{this.symbol}}' target="_blank"><button class="btn btn-primary"><span class="far fa-chart-bar"></span> Gurufocus</button></a>
	<a href='https://ca.finance.yahoo.com/quote/{{this.symbol}}/analysis' target="_blank"><button class="btn btn-primary" style="background-color:#720e9e; color:white;"> <span class="fab fa-yahoo"></span> Yahoo</button></a> --}}
	{{!-- <br><br> --}}
	<table id="table" class="table table-hover">
						<thead class="thead-light" align="center">
							<tr>
								<th>Symbol</th>
								<th>Stock Name</th>
								<th>TTM</th>
								<th>Yield</th>
								<th>Price</th>
								<th>Shares Outstanding</th>
								<th>Market Cap</th>
								<th>Net Debt</th>
								<th>Enterprise Value</th>
								<th>ND/aEBITDA</th>
								<th>Revenue</th>
								<th>aEBITDA</th>
								<th>aEBITDA %</th>
								<th>Asset Turnover</th>
								<th>aEBITDA AT</th>
								<th>ROE</th>
								<th>Effective Tax</th>
								<th>EV/aEBITDA</th>
								<th>Spice</th>
								<th>ROE Mult</th>
							</tr>
						</thead>
						<tbody id='db_stocks' align="center">
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>Y1</td>
								<td>{{this.stockdata.[1].yield}}</td>
								<td>{{this.stockdata.[1].price}}</td>
								<td>{{this.stockdata.[1].shares_outstanding}}</td>
								<td>{{this.stockdata.[1].market_cap}}</td>
								<td>{{this.stockdata.[1].net_debt}}</td>
								<td>{{this.stockdata.[1].enterprise_value}}</td>
								<td>{{this.stockdata.[1].nd_aebitda}}</td>
								<td>{{this.stockdata.[1].revenue}}</td>
								<td>{{this.stockdata.[1].aebitda}}</td>
								<td>{{this.stockdata.[1].aebitda_percent}}</td>
								<td>{{this.stockdata.[1].asset_turnover}}</td>
								<td>{{this.stockdata.[1].aebitda_at}}</td>
								<td>{{this.stockdata.[1].roe}}</td>
								<td>{{this.stockdata.[1].effective_tax}}</td>
								<td>{{this.stockdata.[1].ev_aebitda}}</td>
								<td>{{this.stockdata.[1].spice}}</td>
								<td>{{this.stockdata.[1].roe_mult}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>Y2</td>
								<td>{{this.stockdata.[2].yield}}</td>
								<td>{{this.stockdata.[2].price}}</td>
								<td>{{this.stockdata.[2].shares_outstanding}}</td>
								<td>{{this.stockdata.[2].market_cap}}</td>
								<td>{{this.stockdata.[2].net_debt}}</td>
								<td>{{this.stockdata.[2].enterprise_value}}</td>
								<td>{{this.stockdata.[2].nd_aebitda}}</td>
								<td>{{this.stockdata.[2].revenue}}</td>
								<td>{{this.stockdata.[2].aebitda}}</td>
								<td>{{this.stockdata.[2].aebitda_percent}}</td>
								<td>{{this.stockdata.[2].asset_turnover}}</td>
								<td>{{this.stockdata.[2].aebitda_at}}</td>
								<td>{{this.stockdata.[2].roe}}</td>
								<td>{{this.stockdata.[2].effective_tax}}</td>
								<td>{{this.stockdata.[2].ev_aebitda}}</td>
								<td>{{this.stockdata.[2].spice}}</td>
								<td>{{this.stockdata.[2].roe_mult}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>Y3</td>
								<td>{{this.stockdata.[3].yield}}</td>
								<td>{{this.stockdata.[3].price}}</td>
								<td>{{this.stockdata.[3].shares_outstanding}}</td>
								<td>{{this.stockdata.[3].market_cap}}</td>
								<td>{{this.stockdata.[3].net_debt}}</td>
								<td>{{this.stockdata.[3].enterprise_value}}</td>
								<td>{{this.stockdata.[3].nd_aebitda}}</td>
								<td>{{this.stockdata.[3].revenue}}</td>
								<td>{{this.stockdata.[3].aebitda}}</td>
								<td>{{this.stockdata.[3].aebitda_percent}}</td>
								<td>{{this.stockdata.[3].asset_turnover}}</td>
								<td>{{this.stockdata.[3].aebitda_at}}</td>
								<td>{{this.stockdata.[3].roe}}</td>
								<td>{{this.stockdata.[3].effective_tax}}</td>
								<td>{{this.stockdata.[3].ev_aebitda}}</td>
								<td>{{this.stockdata.[3].spice}}</td>
								<td>{{this.stockdata.[3].roe_mult}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>Y4</td>
								<td>{{this.stockdata.[4].yield}}</td>
								<td>{{this.stockdata.[4].price}}</td>
								<td>{{this.stockdata.[4].shares_outstanding}}</td>
								<td>{{this.stockdata.[4].market_cap}}</td>
								<td>{{this.stockdata.[4].net_debt}}</td>
								<td>{{this.stockdata.[4].enterprise_value}}</td>
								<td>{{this.stockdata.[4].nd_aebitda}}</td>
								<td>{{this.stockdata.[4].revenue}}</td>
								<td>{{this.stockdata.[4].aebitda}}</td>
								<td>{{this.stockdata.[4].aebitda_percent}}</td>
								<td>{{this.stockdata.[4].asset_turnover}}</td>
								<td>{{this.stockdata.[4].aebitda_at}}</td>
								<td>{{this.stockdata.[4].roe}}</td>
								<td>{{this.stockdata.[4].effective_tax}}</td>
								<td>{{this.stockdata.[4].ev_aebitda}}</td>
								<td>{{this.stockdata.[4].spice}}</td>
								<td>{{this.stockdata.[4].roe_mult}}</td>
							</tr>
						</tbody>
					</table>`)
	{{/each}}
	return html[index]
  }
</script>

</html>
