<!DOCTYPE html>
<html>
	<head>
		<title>Database</title>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="/imgs/icon.png" />
		<style>.fixed-table-container{ background-color:white} th:nth-child(4),td:nth-child(4){position:sticky;left:0px;} td:nth-child(4){background-color: #F0F0F0; z-index: 999;}</style>
	</head>
	<body>
		{{>header}}
		<div class="container-fluid">
			<div class="d-flex justify-content-center">
				<div class="table-responsive p-3">
					<table id="table" data-toggle="table"
						data-toolbar="#toolbar" data-height="800" data-detail-view="true" data-search="true" data-detail-formatter="detailFormatter"
						data-show-columns="true" data-show-export="true" data-export-options='{"fileName" : "DB_Stocks" }'
						class="table table1 table-hover">
						<thead class='thead-dark'>
							<tr>
								<th data-checkbox="true"></th>
								<th></th>
								<th data-sortable="true">Symbol</th>
								<th data-sortable="true">Stock Name</th>
								<th data-sortable="true">aEBITDA Spice</th>
                                <th data-sortable="true">My Comment</th>
								<th data-sortable="true">Yield</th>
								<th data-sortable="true">Price</th>
								<th data-sortable="true">Shares Outstanding (M)</th>
								<th data-sortable="true">Market Cap (M)</th>
								<th data-sortable="true">Net Debt (M)</th>
								<th data-sortable="true">Enterprise Value (M)</th>
								<th data-sortable="true">ND/aEBITDA</th>
								<th data-sortable="true">Revenue (M)</th>
								<th data-sortable="true">aEBITDA (M)</th>
								<th data-sortable="true">aEBITDA %</th>
								<th data-sortable="true">Asset Turnover</th>
								<th data-sortable="true">aEBITDA AT</th>
								<th data-sortable="true">ROE</th>
								<th data-sortable="true">Effective Tax</th>
								<th data-sortable="true">EV/aEBITDA</th>
								<th data-sortable="true">ROE Spice</th>
								<th data-sortable="true">FCF (M)</th>
								<th data-sortable="true">FCF Yield</th>
								<th data-sortable="true">FCF Growth (1y)</th>
								<th data-sortable="true">FCF Growth (3y)</th>
								<th data-sortable="true">FCF Growth (5y)</th>
								<th data-sortable="true">FCF Growth (10y)</th>
								<th data-sortable="true">Price Growth (1y)</th>
								<th data-sortable="true">Price Growth (3y)</th>
								<th data-sortable="true">Price Growth (5y)</th>
								<th data-sortable="true">Price Growth (10y)</th>
								<th data-sortable="true">S/O Change (1y)(M)</th>
								<th data-sortable="true">S/O Change (3y)(M)</th>
								<th data-sortable="true">S/O Change (5y)(M)</th>
								<th data-sortable="true">S/O Change (10y)(M)</th>
								<th data-sortable="true">Revenue Growth (1y)</th>
								<th data-sortable="true">Revenue Growth (3y)</th>
								<th data-sortable="true">Revenue Growth (5y)</th>
								<th data-sortable="true">Revenue Growth (10y)</th>
								<th data-sortable="true">aEBITDA Growth (1y)</th>
								<th data-sortable="true">aEBITDA Growth (3y)</th>
								<th data-sortable="true">aEBITDA Growth (5y)</th>
								<th data-sortable="true">aEBITDA Growth (10y)</th>
								<th data-sortable="true">Date</th>
							</tr>
						</thead>
						<tbody id='db_stocks'>
							{{#each dbdata}}
							<tr id="{{ this.stock_id }}" data-val={{this.symbol}} {{#unless this.enabled}} class="disabledStock" {{/unless}}>
								<td></td>
								<td><button type="button" onclick='toggleStock({{this.stock_id}})' class="btn btn-link btn-sm"><span class="far fa-eye"></span></button></td>
								<td> <a href='https://www.gurufocus.com/chart/{{this.symbol}}' target="_blank">{{ this.symbol }}</a></td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[0].aebitda_spice}}</td>
                                <td><div id="note{{this.stock_id}}">{{this.note}}</div><button type="button" onclick='editNote({{this.stock_id}})' class="btn btn-link btn-sm"><span class="far fa-edit"></span></button></td>
								<td>{{this.stockdata.[0].yield_format}}</td>
								<td>{{this.stockdata.[0].price_format}}</td>
								<td>{{this.stockdata.[0].shares_outstanding_format}}</td>
								<td>{{this.stockdata.[0].market_cap_format}}</td>
								<td>{{this.stockdata.[0].net_debt_format}}</td>
								<td>{{this.stockdata.[0].enterprise_value_format}}</td>
								<td>{{this.stockdata.[0].nd_aebitda}}</td>
								<td>{{this.stockdata.[0].revenue_format}}</td>
								<td>{{this.stockdata.[0].aebitda_format}}</td>
								<td>{{this.stockdata.[0].aebitda_percent}}</td>
								<td>{{this.stockdata.[0].asset_turnover}}</td>
								<td>{{this.stockdata.[0].aebitda_at}}</td>
								<td>{{this.stockdata.[0].roe_format}}</td>
								<td>{{this.stockdata.[0].effective_tax_format}}</td>
								<td>{{this.stockdata.[0].ev_aebitda}}</td>
								<td>{{this.stockdata.[0].roe_spice}}</td>
								<td>{{this.stockdata.[0].fcf_format}}</td>
								<td>{{this.stockdata.[0].fcf_yield}}</td>
								<td>{{this.fcf_growth_1}}</td>
								<td>{{this.fcf_growth_3}}</td>
								<td>{{this.fcf_growth_5}}</td>
								<td>{{this.fcf_growth_10}}</td>
								<td>{{this.price_growth_1}}</td>
								<td>{{this.price_growth_3}}</td>
								<td>{{this.price_growth_5}}</td>
								<td>{{this.price_growth_10}}</td>
								<td>{{this.so_change_1}}</td>
								<td>{{this.so_change_3}}</td>
								<td>{{this.so_change_5}}</td>
								<td>{{this.so_change_10}}</td>
								<td>{{this.revenue_growth_1}}</td>
								<td>{{this.revenue_growth_3}}</td>
								<td>{{this.revenue_growth_5}}</td>
								<td>{{this.revenue_growth_10}}</td>
								<td>{{this.aebitda_growth_1}}</td>
								<td>{{this.aebitda_growth_3}}</td>
								<td>{{this.aebitda_growth_5}}</td>
								<td>{{this.aebitda_growth_10}}</td>
								<td>{{this.stockdata.[0].datestring}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="toolbar" class="d-flex flex-row justify-content-center
			align-items-center px-3">
            <form class="px-2">
				<button type="button" onclick="add();" class="btn btn-success btn-sm">
					<span class="fas fa-plus"></span> Add
				</button>
            </form>
            <form class="px-2">
				<button type="button" onclick="remove();" class="btn btn-danger btn-sm">
					<span class="fas fa-trash-alt"></span> Delete
				</button>
            </form>
			<form class="px-2">
				<button type="button" onclick='update();' class="btn btn-dark btn-sm">
					<span class="fas fa-sync-alt"></span> Refresh
				</button>
			</form>
			<b><label for="toggleCheck"> Show Hidden </label></b> &nbsp;<input id="toggleCheck" type="checkbox" onclick="toggleHidden()">
		</div>

        <script>
			var update_counter = 0;
            var rm_list = [];
			/** Send stocks to server using ajax and displays sweet alerts*/
            function add(){
				Swal.fire({
					title: 'Add Stocks',
					text: 'Formats: American Stocks: [SYMBOL], Canadian stocks: [EXCHANGE:SYMBOL]',
					input: 'text',
					showCancelButton: true,
					confirmButtonText: 'Add Stocks',
					preConfirm: (result) => {
						let send = []
						let stockstring = result.replace(/\s/g, "");
						let stocks = stockstring.split(',')
						for(let i in stocks){
							send.push({'symbol': stocks[i].toUpperCase(), 'comment': '', 'company':'', 'exchange': ''})
						}
						ajax_func(send, 'Append').then((resolved) => {
							location.reload();
						})
					}
				}).then((result) => {
					if(!result.dismiss){
						Swal.fire({
						type: 'success',
						title: 'Currently Saving To Database!',
						showConfirmButton: false
					})
					}
				})
			};
			/** Send stocks to server using ajax, removes stocks from database and displays sweet alerts*/
            function remove() {
				$("#table #db_stocks input:checked").each(function() {
					var sym = $(this).parents('tr:first').data('val')
					rm_list.push({"symbol" : sym.toString()});
					//$(`#${sym.toString()}`).remove();
				});
				Swal.fire({
					position:'center',
					type: 'success',
					title: 'The selected stocks are currently being removed!',
					text: 'The page will reload shortly.',
					showConfirmButton: false,
				});
				ajax_func(rm_list, 'Remove').then((resolved) => {
					location.reload()
				})
				rm_list = [];
			};
			/** Send stocks to server using ajax and updates the database entries, shows sweet alerts*/
			function update() {
				update_counter = 0;
				$("#table #db_stocks input:checked").each(function() {
					var sym = $(this).parents('tr:first').data('val')
					rm_list.push({"symbol" : sym.toString()});
				});
				let promises = [];

				Swal.fire({
					position:'center',
					type: 'question',
					title: 'The selected stocks are currently being updated!',
					text: 'Progress will be shown here',
					footer: 'This might take a while, you might want to do something else',
					showConfirmButton: false,
				});

				for(sym in rm_list){
					promises.push(ajax_func([rm_list[sym]], 'Update'))
				}

				Promise.all(promises)
				.then((resolve) => {
					swal.update({
						type: 'success',
						title: 'Refresh Completed',
						text: 'This page will reload in three seconds'
					});
					rm_list = [];
					setTimeout(function(){
						location.reload();
						 }, 3000);
				})
				
				//ajax_func(rm_list, 'Update');
			};

			/** Used to send data from the front end to the node server
			*@param list - A list of stock information
			*@param action - Used to determine what happens in the server
			 */
            function ajax_func(list, action){
				return new Promise((resolve, reject) => {
					var data = {};
					data.stocks = list;
					data.action = action;
					//console.log(data)
					$.ajax({
						type: "POST",
						data: JSON.stringify(data),
						contentType: 'application/json',
						url: "/collection",
						async: false,
					}).done(function(returned_data){
						if(action === "Update"){
							update_counter += 1;
							let Ndata = JSON.parse(returned_data);
							//console.log(Ndata[0].symbol)
							Swal.update({
								text: `Progress: (${update_counter}/${rm_list.length})`,
							});
						}		
						resolve("returned_data")
					})
					})
                }

        </script>

	</body>

<script>
	function detailFormatter(index, row) {
    var html = {};
	{{#each dbdata}}
	html[`{{ this.stock_name }}`] = `<table id="table" class="table table-hover">
						<thead class="thead-light" align="center">
							<tr>
								<th>Symbol</th>
								<th>Stock Name</th>
								<th>aEBITDA Spice</th>
								<th>Date</th>
								<th>Yield</th>
								<th>Price</th>
								<th>Shares Outstanding (M)</th>
								<th>Market Cap (M)</th>
								<th>Net Debt (M)</th>
								<th>Enterprise Value (M)</th>
								<th>ND/aEBITDA</th>
								<th>Revenue (M)</th>
								<th>aEBITDA (M)</th>
								<th>aEBITDA %</th>
								<th>Asset Turnover</th>
								<th>aEBITDA AT</th>
								<th>ROE</th>
								<th>Effective Tax</th>
								<th>EV/aEBITDA</th>
								<th>ROE Spice</th>
								<th>FCF (M)</th>
								<th>FCF Yield</th>
							</tr>
						</thead>
						<tbody id='db_stocks' align="center">
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[1].aebitda_spice}}</td>
								<td>{{this.stockdata.[1].datestring}}</td>
								<td>{{this.stockdata.[1].yield_format}}</td>
								<td>{{this.stockdata.[1].price_format}}</td>
								<td>{{this.stockdata.[1].shares_outstanding_format}}</td>
								<td>{{this.stockdata.[1].market_cap_format}}</td>
								<td>{{this.stockdata.[1].net_debt_format}}</td>
								<td>{{this.stockdata.[1].enterprise_value_format}}</td>
								<td>{{this.stockdata.[1].nd_aebitda}}</td>
								<td>{{this.stockdata.[1].revenue_format}}</td>
								<td>{{this.stockdata.[1].aebitda_format}}</td>
								<td>{{this.stockdata.[1].aebitda_percent}}</td>
								<td>{{this.stockdata.[1].asset_turnover}}</td>
								<td>{{this.stockdata.[1].aebitda_at}}</td>
								<td>{{this.stockdata.[1].roe_format}}</td>
								<td>{{this.stockdata.[1].effective_tax_format}}</td>
								<td>{{this.stockdata.[1].ev_aebitda}}</td>
								<td>{{this.stockdata.[1].roe_spice}}</td>
								<td>{{this.stockdata.[1].fcf_format}}</td>
								<td>{{this.stockdata.[1].fcf_yield}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[2].aebitda_spice}}</td>
								<td>{{this.stockdata.[2].datestring}}</td>
								<td>{{this.stockdata.[2].yield_format}}</td>
								<td>{{this.stockdata.[2].price_format}}</td>
								<td>{{this.stockdata.[2].shares_outstanding_format}}</td>
								<td>{{this.stockdata.[2].market_cap_format}}</td>
								<td>{{this.stockdata.[2].net_debt_format}}</td>
								<td>{{this.stockdata.[2].enterprise_value_format}}</td>
								<td>{{this.stockdata.[2].nd_aebitda}}</td>
								<td>{{this.stockdata.[2].revenue_format}}</td>
								<td>{{this.stockdata.[2].aebitda_format}}</td>
								<td>{{this.stockdata.[2].aebitda_percent}}</td>
								<td>{{this.stockdata.[2].asset_turnover}}</td>
								<td>{{this.stockdata.[2].aebitda_at}}</td>
								<td>{{this.stockdata.[2].roe_format}}</td>
								<td>{{this.stockdata.[2].effective_tax_format}}</td>
								<td>{{this.stockdata.[2].ev_aebitda}}</td>
								<td>{{this.stockdata.[2].roe_spice}}</td>
								<td>{{this.stockdata.[2].fcf_format}}</td>
								<td>{{this.stockdata.[2].fcf_yield}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[3].aebitda_spice}}</td>
								<td>{{this.stockdata.[3].datestring}}</td>
								<td>{{this.stockdata.[3].yield_format}}</td>
								<td>{{this.stockdata.[3].price_format}}</td>
								<td>{{this.stockdata.[3].shares_outstanding_format}}</td>
								<td>{{this.stockdata.[3].market_cap_format}}</td>
								<td>{{this.stockdata.[3].net_debt_format}}</td>
								<td>{{this.stockdata.[3].enterprise_value_format}}</td>
								<td>{{this.stockdata.[3].nd_aebitda}}</td>
								<td>{{this.stockdata.[3].revenue_format}}</td>
								<td>{{this.stockdata.[3].aebitda_format}}</td>
								<td>{{this.stockdata.[3].aebitda_percent}}</td>
								<td>{{this.stockdata.[3].asset_turnover}}</td>
								<td>{{this.stockdata.[3].aebitda_at}}</td>
								<td>{{this.stockdata.[3].roe_format}}</td>
								<td>{{this.stockdata.[3].effective_tax_format}}</td>
								<td>{{this.stockdata.[3].ev_aebitda}}</td>
								<td>{{this.stockdata.[3].roe_spice}}</td>
								<td>{{this.stockdata.[3].fcf_format}}</td>
								<td>{{this.stockdata.[3].fcf_yield}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[4].aebitda_spice}}</td>
								<td>{{this.stockdata.[4].datestring}}</td>
								<td>{{this.stockdata.[4].yield_format}}</td>
								<td>{{this.stockdata.[4].price_format}}</td>
								<td>{{this.stockdata.[4].shares_outstanding_format}}</td>
								<td>{{this.stockdata.[4].market_cap_format}}</td>
								<td>{{this.stockdata.[4].net_debt_format}}</td>
								<td>{{this.stockdata.[4].enterprise_value_format}}</td>
								<td>{{this.stockdata.[4].nd_aebitda}}</td>
								<td>{{this.stockdata.[4].revenue_format}}</td>
								<td>{{this.stockdata.[4].aebitda_format}}</td>
								<td>{{this.stockdata.[4].aebitda_percent}}</td>
								<td>{{this.stockdata.[4].asset_turnover}}</td>
								<td>{{this.stockdata.[4].aebitda_at}}</td>
								<td>{{this.stockdata.[4].roe_format}}</td>
								<td>{{this.stockdata.[4].effective_tax_format}}</td>
								<td>{{this.stockdata.[4].ev_aebitda}}</td>
								<td>{{this.stockdata.[4].roe_spice}}</td>
								<td>{{this.stockdata.[4].fcf_format}}</td>
								<td>{{this.stockdata.[4].fcf_yield}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[5].aebitda_spice}}</td>
								<td>{{this.stockdata.[5].datestring}}</td>
								<td>{{this.stockdata.[5].yield_format}}</td>
								<td>{{this.stockdata.[5].price_format}}</td>
								<td>{{this.stockdata.[5].shares_outstanding_format}}</td>
								<td>{{this.stockdata.[5].market_cap_format}}</td>
								<td>{{this.stockdata.[5].net_debt_format}}</td>
								<td>{{this.stockdata.[5].enterprise_value_format}}</td>
								<td>{{this.stockdata.[5].nd_aebitda}}</td>
								<td>{{this.stockdata.[5].revenue_format}}</td>
								<td>{{this.stockdata.[5].aebitda_format}}</td>
								<td>{{this.stockdata.[5].aebitda_percent}}</td>
								<td>{{this.stockdata.[5].asset_turnover}}</td>
								<td>{{this.stockdata.[5].aebitda_at}}</td>
								<td>{{this.stockdata.[5].roe_format}}</td>
								<td>{{this.stockdata.[5].effective_tax_format}}</td>
								<td>{{this.stockdata.[5].ev_aebitda}}</td>
								<td>{{this.stockdata.[5].roe_spice}}</td>
								<td>{{this.stockdata.[5].fcf_format}}</td>
								<td>{{this.stockdata.[5].fcf_yield}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[6].aebitda_spice}}</td>
								<td>{{this.stockdata.[6].datestring}}</td>
								<td>{{this.stockdata.[6].yield_format}}</td>
								<td>{{this.stockdata.[6].price_format}}</td>
								<td>{{this.stockdata.[6].shares_outstanding_format}}</td>
								<td>{{this.stockdata.[6].market_cap_format}}</td>
								<td>{{this.stockdata.[6].net_debt_format}}</td>
								<td>{{this.stockdata.[6].enterprise_value_format}}</td>
								<td>{{this.stockdata.[6].nd_aebitda}}</td>
								<td>{{this.stockdata.[6].revenue_format}}</td>
								<td>{{this.stockdata.[6].aebitda_format}}</td>
								<td>{{this.stockdata.[6].aebitda_percent}}</td>
								<td>{{this.stockdata.[6].asset_turnover}}</td>
								<td>{{this.stockdata.[6].aebitda_at}}</td>
								<td>{{this.stockdata.[6].roe_format}}</td>
								<td>{{this.stockdata.[6].effective_tax_format}}</td>
								<td>{{this.stockdata.[6].ev_aebitda}}</td>
								<td>{{this.stockdata.[6].roe_spice}}</td>
								<td>{{this.stockdata.[6].fcf_format}}</td>
								<td>{{this.stockdata.[6].fcf_yield}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[7].aebitda_spice}}</td>
								<td>{{this.stockdata.[7].datestring}}</td>
								<td>{{this.stockdata.[7].yield_format}}</td>
								<td>{{this.stockdata.[7].price_format}}</td>
								<td>{{this.stockdata.[7].shares_outstanding_format}}</td>
								<td>{{this.stockdata.[7].market_cap_format}}</td>
								<td>{{this.stockdata.[7].net_debt_format}}</td>
								<td>{{this.stockdata.[7].enterprise_value_format}}</td>
								<td>{{this.stockdata.[7].nd_aebitda}}</td>
								<td>{{this.stockdata.[7].revenue_format}}</td>
								<td>{{this.stockdata.[7].aebitda_format}}</td>
								<td>{{this.stockdata.[7].aebitda_percent}}</td>
								<td>{{this.stockdata.[7].asset_turnover}}</td>
								<td>{{this.stockdata.[7].aebitda_at}}</td>
								<td>{{this.stockdata.[7].roe_format}}</td>
								<td>{{this.stockdata.[7].effective_tax_format}}</td>
								<td>{{this.stockdata.[7].ev_aebitda}}</td>
								<td>{{this.stockdata.[7].roe_spice}}</td>
								<td>{{this.stockdata.[7].fcf_format}}</td>
								<td>{{this.stockdata.[7].fcf_yield}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[8].aebitda_spice}}</td>
								<td>{{this.stockdata.[8].datestring}}</td>
								<td>{{this.stockdata.[8].yield_format}}</td>
								<td>{{this.stockdata.[8].price_format}}</td>
								<td>{{this.stockdata.[8].shares_outstanding_format}}</td>
								<td>{{this.stockdata.[8].market_cap_format}}</td>
								<td>{{this.stockdata.[8].net_debt_format}}</td>
								<td>{{this.stockdata.[8].enterprise_value_format}}</td>
								<td>{{this.stockdata.[8].nd_aebitda}}</td>
								<td>{{this.stockdata.[8].revenue_format}}</td>
								<td>{{this.stockdata.[8].aebitda_format}}</td>
								<td>{{this.stockdata.[8].aebitda_percent}}</td>
								<td>{{this.stockdata.[8].asset_turnover}}</td>
								<td>{{this.stockdata.[8].aebitda_at}}</td>
								<td>{{this.stockdata.[8].roe_format}}</td>
								<td>{{this.stockdata.[8].effective_tax_format}}</td>
								<td>{{this.stockdata.[8].ev_aebitda}}</td>
								<td>{{this.stockdata.[8].roe_spice}}</td>
								<td>{{this.stockdata.[8].fcf_format}}</td>
								<td>{{this.stockdata.[8].fcf_yield}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[9].aebitda_spice}}</td>
								<td>{{this.stockdata.[9].datestring}}</td>
								<td>{{this.stockdata.[9].yield_format}}</td>
								<td>{{this.stockdata.[9].price_format}}</td>
								<td>{{this.stockdata.[9].shares_outstanding_format}}</td>
								<td>{{this.stockdata.[9].market_cap_format}}</td>
								<td>{{this.stockdata.[9].net_debt_format}}</td>
								<td>{{this.stockdata.[9].enterprise_value_format}}</td>
								<td>{{this.stockdata.[9].nd_aebitda}}</td>
								<td>{{this.stockdata.[9].revenue_format}}</td>
								<td>{{this.stockdata.[9].aebitda_format}}</td>
								<td>{{this.stockdata.[9].aebitda_percent}}</td>
								<td>{{this.stockdata.[9].asset_turnover}}</td>
								<td>{{this.stockdata.[9].aebitda_at}}</td>
								<td>{{this.stockdata.[9].roe_format}}</td>
								<td>{{this.stockdata.[9].effective_tax_format}}</td>
								<td>{{this.stockdata.[9].ev_aebitda}}</td>
								<td>{{this.stockdata.[9].roe_spice}}</td>
								<td>{{this.stockdata.[9].fcf_format}}</td>
								<td>{{this.stockdata.[9].fcf_yield}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[10].aebitda_spice}}</td>
								<td>{{this.stockdata.[10].datestring}}</td>
								<td>{{this.stockdata.[10].yield_format}}</td>
								<td>{{this.stockdata.[10].price_format}}</td>
								<td>{{this.stockdata.[10].shares_outstanding_format}}</td>
								<td>{{this.stockdata.[10].market_cap_format}}</td>
								<td>{{this.stockdata.[10].net_debt_format}}</td>
								<td>{{this.stockdata.[10].enterprise_value_format}}</td>
								<td>{{this.stockdata.[10].nd_aebitda}}</td>
								<td>{{this.stockdata.[10].revenue_format}}</td>
								<td>{{this.stockdata.[10].aebitda_format}}</td>
								<td>{{this.stockdata.[10].aebitda_percent}}</td>
								<td>{{this.stockdata.[10].asset_turnover}}</td>
								<td>{{this.stockdata.[10].aebitda_at}}</td>
								<td>{{this.stockdata.[10].roe_format}}</td>
								<td>{{this.stockdata.[10].effective_tax_format}}</td>
								<td>{{this.stockdata.[10].ev_aebitda}}</td>
								<td>{{this.stockdata.[10].roe_spice}}</td>
								<td>{{this.stockdata.[10].fcf_format}}</td>
								<td>{{this.stockdata.[10].fcf_yield}}</td>
							</tr>
						</tbody>
					</table>`
	{{/each}}
	return html[row[3]];
  }
	var hiddenList = []
	var showList = []

	const toggleHidden = () => {
		let box = document.getElementById('toggleCheck')
		let disabledStocks = document.getElementsByClassName('disabledStock')
		if (box.checked) {
			for (el of disabledStocks) {
				el.style.display = ""
				el.style.backgroundColor = "lightgrey"
			}
			for (id of hiddenList) {
				document.getElementById(id).style.display = ""
				document.getElementById(id).style.backgroundColor = "lightgrey"
			}
			for (id of showList) {
				document.getElementById(id).style.display = ""
				document.getElementById(id).style.backgroundColor = ""
			}
		} else {
			for (el of disabledStocks){
				el.style.display = "none"
				el.style.backgroundColor = "lightgrey"
			}
			for (id of hiddenList) {
				document.getElementById(id).style.display = "none"
				document.getElementById(id).style.backgroundColor = "lightgrey"
			}
			for (id of showList) {
				document.getElementById(id).style.display = ""
				document.getElementById(id).style.backgroundColor = ""
			}
		}
	}

  	const editNote = (id) => {
		let div = document.getElementById(`note${id}`)
		let parent = div.parentNode
		parent.innerHTML = `<input id="noteInput${id}" value="${div.innerHTML}" maxlength="250" /">`
		inputDiv = document.getElementById(`noteInput${id}`)
		inputDiv.addEventListener("keydown", (e) => {
			if (e.keyCode == 13) {
				fetch('/editNote', {
					method: 'post',
					headers: { "Content-Type": "application/json" },
					body: JSON.stringify({note: inputDiv.value, stock_id: id})
				}).then(() => {parent.innerHTML = `<div id="note${id}">${inputDiv.value}</div><button type="button" onclick='editNote(${id})' class="btn btn-link btn-sm"><span class="far fa-edit"></span></button>`})
			}
		})
	}

	const toggleStock = (id) => {
		fetch('/toggleStock', {
			method: 'post',
			headers: { "Content-Type": "application/json" },
			body: JSON.stringify({stock_id: id})
		})
		.then(res => res.json())
		.then((res) => {
			document.getElementById(id).className = res ? '' : 'disabledStock'
			if (res){
				showList.push(id)
				hiddenlist.splice( list.indexOf(id), 1 );
				document.getElementById(id).style.display = ''
				document.getElementById(id).style.backgroundColor = ''
			} else {
				hiddenList.push(id)
				showList.splice( list.indexOf(id), 1 );
			}

			toggleHidden()


		})
	}
	$(window).bind("load", function() {
		toggleHidden()
		setInterval(() => {toggleHidden()},200)
	});




</script>
</html>
