<!DOCTYPE html>
<html>
	<head>
		<title>Collection</title>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="/imgs/icon.png" />
		<style>.fixed-table-container{ background-color:white} th:nth-child(3),td:nth-child(3){position:sticky;left:0px;} td:nth-child(3){background-color: #F0F0F0; z-index: 999;}</style>
	</head>
	<body>
		{{>header}}
		<div class="container-fluid">
			<div class="d-flex justify-content-center">
				<div class="table-responsive p-3">
					<table id="table" data-toggle="table" data-search="true"
						data-toolbar="#toolbar" data-height="700" data-detail-view="true" data-detail-formatter="detailFormatter"
						data-show-columns="true" data-show-export="true" data-export-options='{"fileName" : "DB_Stocks" }'
						class="table table1 table-hover">
						<thead class='thead-dark'>
							<tr>
								<th data-checkbox="true"></th>
								<th data-sortable="true">Symbol</th>
								<th data-sortable="true">Stock Name</th>
								<th data-sortable="true">Date</th>
								<th data-sortable="true">Yield</th>
								<th data-sortable="true">Price</th>
								<th data-sortable="true">Price Growth (1y)</th>
								<th data-sortable="true">Price Growth (3y)</th>
								<th data-sortable="true">Price Growth (5y)</th>
								<th data-sortable="true">Price Growth (10y)</th>
								<th data-sortable="true">Shares Outstanding</th>
								<th data-sortable="true">Market Cap</th>
								<th data-sortable="true">Net Debt</th>
								<th data-sortable="true">Enterprise Value</th>
								<th data-sortable="true">ND/aEBITDA</th>
								<th data-sortable="true">Revenue</th>
								<th data-sortable="true">aEBITDA</th>
								<th data-sortable="true">aEBITDA %</th>
								<th data-sortable="true">Asset Turnover</th>
								<th data-sortable="true">aEBITDA AT</th>
								<th data-sortable="true">ROE</th>
								<th data-sortable="true">ROE Growth (1y)</th>
								<th data-sortable="true">ROE Growth (3y)</th>
								<th data-sortable="true">ROE Growth (5y)</th>
								<th data-sortable="true">ROE Growth (10y)</th>
								<th data-sortable="true">Effective Tax</th>
								<th data-sortable="true">EV/aEBITDA</th>
								<th data-sortable="true">Spice</th>
								<th data-sortable="true">ROE Mult</th>
							</tr>
						</thead>
						<tbody id='db_stocks'>
							{{#each dbdata}}
							<tr id="{{ this.symbol }}" data-val={{this.symbol}}>
								<td></td>
								<td> <a href='https://www.gurufocus.com/chart/{{this.symbol}}' target="_blank">{{ this.symbol }}</a></td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[0].datestring}}</td>
								<td>{{this.stockdata.[0].yield}}</td>
								<td>{{this.stockdata.[0].price}}</td>
								<td>{{this.price_growth_1}}</td>
								<td>{{this.price_growth_3}}</td>
								<td>{{this.price_growth_5}}</td>
								<td>{{this.price_growth_10}}</td>
								<td>{{this.stockdata.[0].shares_outstanding}}</td>
								<td>{{this.stockdata.[0].market_cap}}</td>
								<td>{{this.stockdata.[0].net_debt}}</td>
								<td>{{this.stockdata.[0].enterprise_value}}</td>
								<td>{{this.stockdata.[0].nd_aebitda}}</td>
								<td>{{this.stockdata.[0].revenue}}</td>
								<td>{{this.stockdata.[0].aebitda}}</td>
								<td>{{this.stockdata.[0].aebitda_percent}}</td>
								<td>{{this.stockdata.[0].asset_turnover}}</td>
								<td>{{this.stockdata.[0].aebitda_at}}</td>
								<td>{{this.stockdata.[0].roe}}</td>
								<td>{{this.roe_growth_1}}</td>
								<td>{{this.roe_growth_3}}</td>
								<td>{{this.roe_growth_5}}</td>
								<td>{{this.roe_growth_10}}</td>
								<td>{{this.stockdata.[0].effective_tax}}</td>
								<td>{{this.stockdata.[0].ev_aebitda}}</td>
								<td>{{this.stockdata.[0].spice}}</td>
								<td>{{this.stockdata.[0].roe_mult}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="toolbar" class="d-flex flex-row justify-content-center
			align-items-center px-3">
            <form class="px-2">
				<button type="button" onclick="add();" class="btn btn-success btn-sm">
					<span class="fas fa-plus"></span> Add
				</button>
            </form>
            <form class="px-2">
				<button type="button" onclick="remove();" class="btn btn-danger btn-sm">
					<span class="fas fa-trash-alt"></span> Delete
				</button>
            </form>
			<form class="px-2">
				<button type="button" onclick='update();' class="btn btn-dark btn-sm">
					<span class="fas fa-sync-alt"></span> Refresh
				</button>
			</form>

		</div>

        <script>
            var rm_list = [];
            function add(){
				Swal.mixin({
					input: 'text',
					confirmButtonText: 'Next',
					showCancelButton: true,
					progressSteps:['1', '2']
				}).queue([{
					title: 'Add a stock',
					text: '*Canadian stocks must begin with TSX:'
				}, 'Add a Comment'])
				.then((result) => {
					if (result.value) {
						Swal.fire({
							title: 'Confirm',
							html:
							`stock: ${result.value[0]} comment: ${result.value[1]}`,
							confirmButtonText: 'Confirm',
							showCancelButton: true,
						}).then(()=> {
							ajax_func([{'symbol': result.value[0].toUpperCase(), 'comment': result.value[1], 'company': '', 'exchange': ''}], "Append")
							Swal.fire({
								position:'center',
								type: 'success',
								title: `${result.value[0].toUpperCase()} is currently being saved!`,
								text: 'The page will reload shortly.',
								showConfirmButton: false,
							});
						})
					}
				})
            }
            function remove() {
				$("#table #db_stocks input:checked").each(function() {
					var sym = $(this).parents('tr:first').data('val')
					rm_list.push({"symbol" : sym.toString()});
					//$(`#${sym.toString()}`).remove();
				});
                ajax_func(rm_list, 'Remove');
				Swal.fire({
					position:'center',
					type: 'success',
					title: 'The selected stocks are currently being removed!',
					text: 'The page will reload shortly.',
					showConfirmButton: false,
				});
				rm_list = [];
			};
			function update() {
				$("#table #db_stocks input:checked").each(function() {
					var sym = $(this).parents('tr:first').data('val')
					rm_list.push({"symbol" : sym.toString()});
				});
                ajax_func(rm_list, 'Update');
				Swal.fire({
					position:'center',
					type: 'success',
					title: 'The selected stocks are currently being updated!',
					text: 'The page will reload shortly.',
					showConfirmButton: false,
				});
				console.log(rm_list)
				rm_list = [];
			};
            function ajax_func(list, action){
                var data = {};
                data.stocks = list;
                data.action = action;
                console.log(data)
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(data),
                    contentType: 'application/json',
                    url: "http://localhost:8080/collection",
                }).done(function(returned_data){
                    location.reload()
                })
                }
        </script>

	</body>

<script>
	function detailFormatter(index, row) {
    var html = []
	{{#each dbdata}}
	html.push(`
	<table id="table" class="table table-hover">
						<thead class="thead-light" align="center">
							<tr>
								<th>Symbol</th>
								<th>Stock Name</th>
								<th>Date</th>
								<th>Yield</th>
								<th>Price</th>
								<th>Shares Outstanding</th>
								<th>Market Cap</th>
								<th>Net Debt</th>
								<th>Enterprise Value</th>
								<th>ND/aEBITDA</th>
								<th>Revenue</th>
								<th>aEBITDA</th>
								<th>aEBITDA %</th>
								<th>Asset Turnover</th>
								<th>aEBITDA AT</th>
								<th>ROE</th>
								<th>Effective Tax</th>
								<th>EV/aEBITDA</th>
								<th>Spice</th>
								<th>ROE Mult</th>
							</tr>
						</thead>
						<tbody id='db_stocks' align="center">
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[1].datestring}}</td>
								<td>{{this.stockdata.[1].yield}}</td>
								<td>{{this.stockdata.[1].price}}</td>
								<td>{{this.stockdata.[1].shares_outstanding}}</td>
								<td>{{this.stockdata.[1].market_cap}}</td>
								<td>{{this.stockdata.[1].net_debt}}</td>
								<td>{{this.stockdata.[1].enterprise_value}}</td>
								<td>{{this.stockdata.[1].nd_aebitda}}</td>
								<td>{{this.stockdata.[1].revenue}}</td>
								<td>{{this.stockdata.[1].aebitda}}</td>
								<td>{{this.stockdata.[1].aebitda_percent}}</td>
								<td>{{this.stockdata.[1].asset_turnover}}</td>
								<td>{{this.stockdata.[1].aebitda_at}}</td>
								<td>{{this.stockdata.[1].roe}}</td>
								<td>{{this.stockdata.[1].effective_tax}}</td>
								<td>{{this.stockdata.[1].ev_aebitda}}</td>
								<td>{{this.stockdata.[1].spice}}</td>
								<td>{{this.stockdata.[1].roe_mult}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[2].datestring}}</td>
								<td>{{this.stockdata.[2].yield}}</td>
								<td>{{this.stockdata.[2].price}}</td>
								<td>{{this.stockdata.[2].shares_outstanding}}</td>
								<td>{{this.stockdata.[2].market_cap}}</td>
								<td>{{this.stockdata.[2].net_debt}}</td>
								<td>{{this.stockdata.[2].enterprise_value}}</td>
								<td>{{this.stockdata.[2].nd_aebitda}}</td>
								<td>{{this.stockdata.[2].revenue}}</td>
								<td>{{this.stockdata.[2].aebitda}}</td>
								<td>{{this.stockdata.[2].aebitda_percent}}</td>
								<td>{{this.stockdata.[2].asset_turnover}}</td>
								<td>{{this.stockdata.[2].aebitda_at}}</td>
								<td>{{this.stockdata.[2].roe}}</td>
								<td>{{this.stockdata.[2].effective_tax}}</td>
								<td>{{this.stockdata.[2].ev_aebitda}}</td>
								<td>{{this.stockdata.[2].spice}}</td>
								<td>{{this.stockdata.[2].roe_mult}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[3].datestring}}</td>
								<td>{{this.stockdata.[3].yield}}</td>
								<td>{{this.stockdata.[3].price}}</td>
								<td>{{this.stockdata.[3].shares_outstanding}}</td>
								<td>{{this.stockdata.[3].market_cap}}</td>
								<td>{{this.stockdata.[3].net_debt}}</td>
								<td>{{this.stockdata.[3].enterprise_value}}</td>
								<td>{{this.stockdata.[3].nd_aebitda}}</td>
								<td>{{this.stockdata.[3].revenue}}</td>
								<td>{{this.stockdata.[3].aebitda}}</td>
								<td>{{this.stockdata.[3].aebitda_percent}}</td>
								<td>{{this.stockdata.[3].asset_turnover}}</td>
								<td>{{this.stockdata.[3].aebitda_at}}</td>
								<td>{{this.stockdata.[3].roe}}</td>
								<td>{{this.stockdata.[3].effective_tax}}</td>
								<td>{{this.stockdata.[3].ev_aebitda}}</td>
								<td>{{this.stockdata.[3].spice}}</td>
								<td>{{this.stockdata.[3].roe_mult}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[4].datestring}}</td>
								<td>{{this.stockdata.[4].yield}}</td>
								<td>{{this.stockdata.[4].price}}</td>
								<td>{{this.stockdata.[4].shares_outstanding}}</td>
								<td>{{this.stockdata.[4].market_cap}}</td>
								<td>{{this.stockdata.[4].net_debt}}</td>
								<td>{{this.stockdata.[4].enterprise_value}}</td>
								<td>{{this.stockdata.[4].nd_aebitda}}</td>
								<td>{{this.stockdata.[4].revenue}}</td>
								<td>{{this.stockdata.[4].aebitda}}</td>
								<td>{{this.stockdata.[4].aebitda_percent}}</td>
								<td>{{this.stockdata.[4].asset_turnover}}</td>
								<td>{{this.stockdata.[4].aebitda_at}}</td>
								<td>{{this.stockdata.[4].roe}}</td>
								<td>{{this.stockdata.[4].effective_tax}}</td>
								<td>{{this.stockdata.[4].ev_aebitda}}</td>
								<td>{{this.stockdata.[4].spice}}</td>
								<td>{{this.stockdata.[4].roe_mult}}</td>
							</tr>
							<tr id="{{ this.symbol }}">
								<td>{{ this.symbol }}</td>
								<td>{{ this.stock_name }}</td>
								<td>{{this.stockdata.[5].datestring}}</td>
								<td>{{this.stockdata.[5].yield}}</td>
								<td>{{this.stockdata.[5].price}}</td>
								<td>{{this.stockdata.[5].shares_outstanding}}</td>
								<td>{{this.stockdata.[5].market_cap}}</td>
								<td>{{this.stockdata.[5].net_debt}}</td>
								<td>{{this.stockdata.[5].enterprise_value}}</td>
								<td>{{this.stockdata.[5].nd_aebitda}}</td>
								<td>{{this.stockdata.[5].revenue}}</td>
								<td>{{this.stockdata.[5].aebitda}}</td>
								<td>{{this.stockdata.[5].aebitda_percent}}</td>
								<td>{{this.stockdata.[5].asset_turnover}}</td>
								<td>{{this.stockdata.[5].aebitda_at}}</td>
								<td>{{this.stockdata.[5].roe}}</td>
								<td>{{this.stockdata.[5].effective_tax}}</td>
								<td>{{this.stockdata.[5].ev_aebitda}}</td>
								<td>{{this.stockdata.[5].spice}}</td>
								<td>{{this.stockdata.[5].roe_mult}}</td>
							</tr>
						</tbody>
					</table>`)
	{{/each}}
	return html[index]
  }
</script>

</html>