<!DOCTYPE html>
<html>

	<head>
		<title>Stocks</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/styles/home.css" />
		<link rel="stylesheet" type="text/css" href="/styles/compare.css">
		<link rel="icon" type="image/png" href="/imgs/icon.png" />
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
			integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
			crossorigin="anonymous">
		<link rel="stylesheet"
			href="https://unpkg.com/bootstrap-table@1.13.4/dist/bootstrap-table.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
			integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
			integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.6.2/core.min.js"></script>
		<script
			src="https://unpkg.com/bootstrap-table@1.13.4/dist/bootstrap-table.min.js"></script>
	</head>

	<body>
		{{>header}}
		<div class="container">
			<div class="d-flex justify-content-center">
				<div style="height:75vh; overflow:auto;" class="table-responsive p-3" >
					<table data-toggle="table" class="table table1 table-hover">
						<thead class='thead-dark'>
							<tr>
								<th><label class="checkbox-inline"><input type="checkbox" value=""></label></th>
								<th data-sortable="true">Status</th>
								<th data-sortable="true">Symbol</th>
								<th data-sortable="true">Price</th>
								<th data-sortable="true">Currency</th>
								<th>Info</th>
							</tr>
						</thead>
						<tbody id="myTable">
							{{#each data}}
							<tr>
								<td><label class="checkbox-inline"><input type="checkbox" value=""></label></td>
								<td>New</td>
								<td>{{ Symbol }}</td>
								<td>{{ Price }}</td>
								<td>{{Currency}}</td>
								<td class="d-flex flex-row justify-content-center align-items-center"><i
										class="fas fa-info-circle fa-2x" data-toggle="modal"
										data-target=#{{ Symbol }}></i></td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				<div style="height:75vh; overflow:auto;" class="table-responsive p-3">
					<table data-toggle="table" class="table table1 table-hover">
						{{!-- <input id="myInput" type="text" placeholder="Search.."> --}}
						<thead class=''>
							<tr>
								<th><label class="checkbox-inline"><input type="checkbox" value=""></label></th>
								<th data-sortable="true">Status</th>
								<th data-sortable="true">Last Updated</th>
								<th data-sortable="true">Symbol</th>
								<th data-sortable="true">Price</th>
								<th data-sortable="true">Currency</th>
							</tr>
						</thead>
						<tbody id="myTable">
							{{#each data}}
							<tr>
								<td><label class="checkbox-inline"><input type="checkbox" value=""></label></td>
								<td>Active</td>
								<td>2019-02-14</td>
								<td>{{ Symbol }}</td>
								<td>{{ Price }}</td>
								<td>{{Currency}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				{{#each data}}
				<div class="modal" id={{ Symbol }}>
					<div class="modal-dialog modal-dialog-centered modal-xl">
						<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">{{ Company }}</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<!-- Modal body -->
							<div class="modal-body">
								<div class="table-responsive p-3">
									<table class="table table-striped">
										<thead class='thead-dark'>
											<tr>
												<th>Company</th>
												<th>Symbol</th>
												<th>Exchange</th>
												<th>Price</th>
												<th>Currency</th>
												<th>Market Cap(Mil)</th>
												<th>US$ Market Cap($Mil)</th>
												<th>aEBTIDA*AT</th>
												<th>ROE % (5y Median)</th>
												<th>Market Cap ($M)</th>
												<th>3 Year Total Revenue Growth Rate</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>{{ Company }}</td>
												<td>{{ Symbol }}</td>
												<td>{{ Exchange }}</td>
												<td>{{ Price }}</td>
												<td>{{ Currency }}</td>
												<td>{{ "Market Cap(Mil)" }}</td>
												<td>{{ "US$ Market Cap($Mil)" }}</td>
												<td>{{ "aEBTIDA*AT" }}</td>
												<td>{{ "ROE % (5y Median)" }}</td>
												<td>{{ "Market Cap ($M)" }}</td>
												<td>{{ "3 Year Total Revenue Growth Rate" }}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<label for="comment">Comment:</label>
								<div class="form-group">
									<textarea class="form-control" rows="5" id="comment"></textarea>
								</div>
							</div>

							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							</div>

						</div>
					</div>
				</div>
				{{/each}}

			</div>
		</div>
		<script src="../public/js/compare.js"></script>
	</body>
</html>