<!DOCTYPE html>
<html>
	<head>
		<title>Adding Stocks</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/styles/upload.css" />
		<link rel="icon" type="image/png" href="/imgs/icon.png" />
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet"
			href="https://unpkg.com/bootstrap-table@1.13.4/dist/bootstrap-table.min.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
			integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
			integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.6.2/core.min.js"></script>
		<script
			src="https://unpkg.com/bootstrap-table@1.13.4/dist/bootstrap-table.min.js"></script>
		<script
			src="https://rawgit.com/wenzhixin/bootstrap-table/master/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>
		<script
			src="https://unpkg.com/tableexport.jquery.plugin@1.10.1/tableExport.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	</head>
	<body style="overflow:hidden;">
		{{>header}}
		<div class="container-fluid">
			<div class="d-flex justify-content-center">
				<div class="table-responsive p-3">
					<table id="myTable1" data-toggle="table"
						data-height=650 data-search="true"
						data-show-columns="true" class="table table1 table-hover">
						<thead class='thead-dark'>
							<tr>
								<th data-checkbox="true"></th>
								<th data-sortable="true">Status</th>
								<th data-sortable="true">Symbol</th>
								<th data-sortable="true">Price</th>
								<th data-sortable="true">Currency</th>
								<th>Info</th>
							</tr>
						</thead>
						<tbody>
							{{#each data}}

							<tr data-val={{Symbol}} id={{Symbol}}1>
								<td></td>
								<td>New</td>
								<td>{{ Symbol }}</td>
								<td>{{ Price }}</td>
								<td>{{Currency}}</td>
								<td class="d-flex flex-row justify-content-center align-items-center"><i
										class="fas fa-info-circle fa-2x" data-toggle="modal"
										data-target=#{{ Symbol }}></i></td>
							</tr>
							{{/each}}
						</tbody>
					</table>
					<div class="d-flex flex-column-reverse p-1">
						<button type="button" onclick="add();" class="btn btn-success">Add</button>
					</div>
				</div>
				<div class="table-responsive p-3">
					<table id="myTable2" data-toggle="table"
						data-height=650 data-search="true"
						data-show-columns="true" class="table table1 table-hover">
						<thead>
							<tr>
								<th data-checkbox="true"></th>
								<th data-sortable="true">Symbol</th>
								<th data-sortable="true">Stock Name</th>
							</tr>
						</thead>
						<tbody id='db_stocks'>
							{{#each dbdata}}
							<tr id= "{{ symbol }}2" data-val={{symbol}}>
								<td></td>
								<td>{{ symbol }}</td>
								<td>{{ stock_name }}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
					<div class="d-flex flex-column-reverse p-1">
						<button type="button" onclick="rm();" class="btn btn-danger">Remove</button>
					</div>
				</div>
				{{#each data}}
				<div class="modal" id={{ Symbol }}>
					<div class="modal-dialog modal-dialog-centered modal-xl">
						<div class="modal-content">

							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">{{ Company }}</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<!-- Modal body -->
							<div class="modal-body">
								<div class="table-responsive p-3">
									<table class="table table-striped">
										<thead class='thead-dark'>
											<tr>
												<th>Company</th>
												<th>Symbol</th>
												<th>Exchange</th>
												<th>Price</th>
												<th>Currency</th>
												<th>Market Cap(Mil)</th>
												<th>US$ Market Cap($Mil)</th>
												<th>aEBTIDA*AT</th>
												<th>ROE % (5y Median)</th>
												<th>Market Cap ($M)</th>
												<th>3 Year Total Revenue Growth Rate</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>{{ Company }}</td>
												<td>{{ Symbol }}</td>
												<td>{{ Exchange }}</td>
												<td>{{ Price }}</td>
												<td>{{ Currency }}</td>
												<td>{{ "Market Cap(Mil)" }}</td>
												<td>{{ "US$ Market Cap($Mil)" }}</td>
												<td>{{ "aEBTIDA*AT" }}</td>
												<td>{{ "ROE % (5y Median)" }}</td>
												<td>{{ "Market Cap ($M)" }}</td>
												<td>{{ "3 Year Total Revenue Growth Rate" }}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<label for="comment">Comment:</label>
								<div class="form-group">
									<textarea class="form-control" rows="5" id="{{ Symbol }}_comment" data-company="{{ Company }}"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		<script>
		{{#if no_data}}
			Swal.fire({
			title: 'Error!',
			type: 'error',
			confirmButtonColor: 'red',
			confirmButtonText: 'Upload CSV File'
			}).then(function() {
				window.location = "/";
			});
		{{else}}
			window.onbeforeunload = function(){
			return 'Are you sure you want to leave?';
		};
		{{/if}}
			var add_list = [];
			var rm_list = [];
			function add() {
				$("#myTable1 tbody input:checked").each(function() {
					var sym = $(this).parents("tr:first").data("val");
					var sym_commment = document.getElementById(`${$(this).parents("tr:first").data("val")}_comment`).value;
					var sym_company = document.getElementById(`${$(this).parents("tr:first").data("val")}_comment`).dataset.company;
					add_list.push({ "symbol" : sym.toString() , "comment" : sym_commment.toString(), "company": sym_company.toString()});
			});
                ajax_func(add_list, 'Append')
                //alert(JSON.stringify(add_list))
				$('#myTable1').bootstrapTable('uncheckAll');
				add_list = [];
			};
			function rm() {
				$("#myTable2 tbody input:checked").each(function() {
					var sym = $(this).parents("tr:first").data("val")
					rm_list.push({"symbol" : sym.toString()});
				});
                ajax_func(rm_list, 'Remove')
				//alert(JSON.stringify(rm_list))
				$('#myTable2').bootstrapTable('uncheckAll');
				rm_list = [];
			};

            function ajax_func(list, action){
                var data = {};
                data.stocks = list;
                data.action = action;
                console.log(data)
                $.ajax({
                    type:"POST",
                    data:JSON.stringify(data),
                    contentType: 'application/json',
                    url:"http://localhost:8080/upload",
                }).done(function(returned_data){
					returned = JSON.parse(returned_data)
					console.log(returned)
					switch(returned.action){
						case "Remove":
							for(let i = 0; i < returned.stocks.length; i++){
								console.log(returned.stocks[i].symbol)
								$(`#${returned.stocks[i].symbol}2`).remove();
							}
							break;

						case "Append":

							//console.log(returned.stocks)
                            //console.log($("#db_stocks tr").length)
                            let trnum = $('#db_stocks tr').length;

							for(let i = 0; i < returned.stocks.length; i++){
								$(`#${returned.stocks[i].symbol}1`).remove();
							}

							for(let j = 0; j < returned.stocks.length; j++){
								let html_string = `<tr id= "${ returned.stocks[j].symbol }2" data-index="${trnum + j}" data-val=${returned.stocks[j].symbol}><td class="bs-checkbox "><input data-index="${trnum + j}" name="btSelectItem" type="checkbox"></td><td>${returned.stocks[j].symbol}</td><td>${returned.stocks[j].company}</td></tr>`
								$('#db_stocks').append(html_string);
							}



							break;
					}
				});
            }

		</script>
	</body>
</html>
