<!DOCTYPE html>
<html>
	<head>
		<title>Adding Stocks</title>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="/imgs/icon.png" />
		<style>.fixed-table-container{ background-color:white}</style>
	</head>
	<body>
		{{>header}}
		<div class="container-fluid">
			<div class="d-flex justify-content-center">
				<div class="table-responsive p-3">
					<div id="table_main" class="dataTables_wrapper">
						<table id="comparetable" class="table table-light table-striped">
							<thead class="thead-dark">
								<tr>
									<th></th>
									<th>Symbol</th>
									<th>Company</th>
									<th>Exchange</th>
									<th>Current Price</th>
								</tr>
							</thead>
							<tbody>
								{{#each data}}
								<tr>
									<td></td>
									<td>{{Symbol}}</td>
									<td><a href="https://www.gurufocus.com/financials/{{Symbol}}" target="_blank">{{Company}}</a></td>
									<td>{{Exchange}}</td>
									<td>{{"Current Price"}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="/js/compare.js"></script>
</html>
